.hide {
  display: none !important;
}
.hidden {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden  !important;
}
.alignLeft {
 text-align: left  !important;
}
.alignRight {
  text-align: right  !important;
}
.alignCenter {
  text-align: center  !important;
}
.alignJustify {
  text-align: justify  !important;
}
.floatLeft {
  float: left  !important;
}
.floatRight {
  float: right  !important;
}
.noMargin {
  margin: 0 !important;
}
.noPadding {
  padding: 0 !important;
}
.noPaddingLeft {
  padding-left: 0 !important;
}
.noPaddingRight {
  padding-right: 0 !important;
}
.overflowHidden {
  overflow: hidden !important;
}
.overflowAuto {
  overflow: auto !important;
}