.extraSmall-1 {
  width: 100%;
}
.extraSmall-2 {
  width: 50%;
}
.extraSmall-3 {
  width: 33.33333%;
}
.extraSmall-4 {
  width: 25%;
}
.extraSmall-5 {
  width: 20%;
}
.extraSmall-6 {
  width: 16.6667%;
}
.extraSmall-7 {
  width: 14.28555%;
}
.extraSmall-8 {
  width: 12.5%;
}
.extraSmall-9 {
  width: 11.11111%;
}
.extraSmall-10 {
  width: 10%;
}
.extraSmall-11 {
  width: 9.0909%;
}
.extraSmall-12 {
  width: 8.33333%;
}
.extraSmall-1.column {
  width: 8.33333%;
}
.extraSmall-2.column {
  width: 16.66667%;
}
.extraSmall-3.column {
  width: 25%;
}
.extraSmall-4.column {
  width: 33.33333%;
}
.extraSmall-5.column {
  width: 41.66667%;
}
.extraSmall-6.column {
  width: 50%;
}
.extraSmall-7.column {
  width: 58.33333%;
}
.extraSmall-8.column {
  width: 66.66667%;
}
.extraSmall-9.column {
  width: 75%;
}
.extraSmall-10.column {
  width: 83.33333%;
}
.extraSmall-11.column {
  width: 91.66667%;
}
.extraSmall-12.column {
  width: 100%;
}
@media (min-width: @smallScreen) {
  .small-1 {
    width: 100%;
  }
  .small-2 {
    width: 50%;
  }
  .small-3 {
    width: 33.33333%;
  }
  .small-4 {
    width: 25%;
  }
  .small-5 {
    width: 20%;
  }
  .small-6 {
    width: 16.6667%;
  }
  .small-7 {
    width: 14.28555%;
  }
  .small-8 {
    width: 12.5%;
  }
  .small-9 {
    width: 11.11111%;
  }
  .small-10 {
    width: 10%;
  }
  .small-11 {
    width: 9.0909%;
  }
  .small-12 {
    width: 8.33333%;
  }
  .small-1.column {
    width: 8.33333%;
  }
  .small-2.column {
    width: 16.66667%;
  }
  .small-3.column {
    width: 25%;
  }
  .small-4.column {
    width: 33.33333%;
  }
  .small-5.column {
    width: 41.66667%;
  }
  .small-6.column {
    width: 50%;
  }
  .small-7.column {
    width: 58.33333%;
  }
  .small-8.column {
    width: 66.66667%;
  }
  .small-9.column {
    width: 75%;
  }
  .small-10.column {
    width: 83.33333%;
  }
  .small-11.column {
    width: 91.66667%;
  }
  .small-12.column {
    width: 100%;
  }
}
@media (min-width: @mediumScreen) {
  .medium-1 {
    width: 100%;
  }
  .medium-2 {
    width: 50%;
  }
  .medium-3 {
    width: 33.33333%;
  }
  .medium-4 {
    width: 25%;
  }
  .medium-5 {
    width: 20%;
  }
  .medium-6 {
    width: 16.6667%;
  }
  .medium-7 {
    width: 14.28555%;
  }
  .medium-8 {
    width: 12.5%;
  }
  .medium-9 {
    width: 11.11111%;
  }
  .medium-10 {
    width: 10%;
  }
  .medium-11 {
    width: 9.0909%;
  }
  .medium-12 {
    width: 8.33333%;
  }
  .medium-1.column {
    width: 8.33333%;
  }
  .medium-2.column {
    width: 16.66667%;
  }
  .medium-3.column {
    width: 25%;
  }
  .medium-4.column {
    width: 33.33333%;
  }
  .medium-5.column {
    width: 41.66667%;
  }
  .medium-6.column {
    width: 50%;
  }
  .medium-7.column {
    width: 58.33333%;
  }
  .medium-8.column {
    width: 66.66667%;
  }
  .medium-9.column {
    width: 75%;
  }
  .medium-10.column {
    width: 83.33333%;
  }
  .medium-11.column {
    width: 91.66667%;
  }
  .medium-12.column {
    width: 100%;
  }
}
@media (min-width: @largeScreen) {
  .container {
    max-width: @widthContainerLarge;
  }
}