
.pagination {
    width: 100%;
    float: right;
    margin-top: 5px;
    margin-bottom: 5px;
}
.pagination div {
    float: left;
}
.pagination .countOnPage {
    float: left;
}
.pagination .nextPrev {
    float: right;
    margin-right: 5px;
}
.pagination .countOnPage {
    margin-left: 5px;
}
.pagination #previousPage,
.pagination #nextPage,
.pagination .currentPageList,
.pagination #firstShowPage,
.pagination #lastShowPage {
    background-color: white;
    background-image: none;
    line-height: 15px;
    width: 20px;
    height: 18px;
    display: block;
    text-align: center;
    padding: 0;
    border-radius: 0;
    font-weight: bold;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    float: left;
}

.pagination #firstShowPage,
.pagination #lastShowPage {
    width: 30px;
    height: 18px;
    display: block;
    font-size: 12px;
}
.pagination #previousPage {
    margin: 0 3px;
    font-size: 12px;
}
.pagination #nextPage {
    margin: 0 3px;
    font-size: 12px;
}
.pagination .allPage {
    position: relative;
}
.pagination button {
    color: rgba(0, 0, 0, 0.75);
}
.pagination button:hover {
    background-color: #F7F8F9;
    color: rgba(0, 0, 0, 0.9);
    border: 1px solid rgba(0, 0, 0, 0.9);
}
.pagination button[disabled] {
    color: rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.3);
    cursor: default;
}
.pagination #currentShowPage {
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-right: 1px solid rgba(0, 0, 0, 0);
    width: 21px;
    height: 21px;
    margin-left: 5px;
    font-size: 12px !important;
}
.pagination #pageList {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.4);
    position: absolute;
    bottom: 17px;
    left: -7px;
    display: none;
}
.pagination #pageList li {
    display: block;
    width: 25px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 12px;
}
.pagination #pageList li:hover {
    background-color: #13C4A5;
    color: white;
    text-decoration: none;
}
.pagination .currentPageList {
    margin-right: 5px;
    font-size: 12px;
}
.pagination .currentPageList .caret {
    display: block;
    height: 15px;
    /*background-image: url("../images/arrow-up.png");*/
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.pagination .pageList {
    position: relative;
}
.pagination .pageList button {
    background-color: white;
    background-image: none;
    border-radius: 0;
    width: 27px;
    margin: 0 5px;
    line-height: 10px;
    font-size: 12px;
}
.pagination .pageList button:hover {
    background-color: #F7F8F9;
}
.pagination .pageList ul {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.4);
    position: absolute;
    bottom: 15px;
    left: 5px;
    display: none;
    font-size: 12px;
}
.pagination .pageList ul li a {
    display: block;
    width: 25px;
    height: 20px;
    line-height: 20px;
    text-align: center;
}
.pagination .pageList ul li a:hover {
    background-color: #13C4A5;
    color: white;
    text-decoration: none;
}

.icon {
    font-size: 20px;
    font-family: Icons;
    text-decoration: none;
    display: block;
    line-height: 28px;
    width: 100%;
    height: 100%;
}

.icon:hover {
    text-decoration: none;
}

.DbList{
    background-color: white;
    cursor: pointer;
    color: #0A0EF2;
}

.DbList:hover{
    background-color: #d3d3d3;
    font-weight: bold;
}

.topBarButton {
    margin-left: 5px;
    text-align: center;
    border: 1px solid gray;
    width: 100px;
    height: 45px;
    line-height: 45px;
    float: left;
    border-radius: 6px;
    -moz-border-radius: 5px;
    -khtml-border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.1);
    opacity: 0.8;
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
    color: #000000;
    text-shadow: 1px 1px white;
    cursor: pointer;
}

.topBarButton:hover {
    background-color: rgba(0, 0, 0, 0.01);
}

.actionButton {
    text-align: center;
    vertical-align: middle;
    border: 1px solid gray;
    width: 70px;
    height: 30px;
    line-height: 30px;
    clear: both;
    border-radius: 4px;
    -moz-border-radius: 5px;
    -khtml-border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.1);
    opacity: 0.8;
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
    color: #000000;
    cursor: pointer;
    text-shadow: 1px 1px white;
}

.actionButtonAdd {

    font-size: 18px;
    color: green;
    text-align: center;
    vertical-align: middle;
    border: 1px solid gray;
    width: 70px;
    height: 30px;
    line-height: 30px;
    /*clear: both;*/
    border-radius: 4px;
    -moz-border-radius: 5px;
    -khtml-border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.1);
    opacity: 0.8;
    font-family: Arial;
    font-weight: bold;
    cursor: pointer;
    text-shadow: 1px 1px white;
    text-decoration: none;
}
.actionButtonAdd:hover {
    text-decoration: none;
}

.actionButtonDell{

    font-size: 18px;
    color: red;
    text-align: center;
    vertical-align: middle;
    border: 1px solid gray;
    width: 75px;
    height: 30px;
    line-height: 30px;
    /*clear: both;*/
    border-radius: 4px;
    -moz-border-radius: 5px;
    -khtml-border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.1);
    opacity: 0.8;
    font-family: Arial;
    font-weight: bold;
    cursor: pointer;
    text-shadow: 1px 1px white;
    text-decoration: none;
}

.actionButtonDell:hover {
    text-decoration: none;
}


.actionButtonWhite {
    text-align: center;
    vertical-align: middle;
    border: 1px solid gray;
    width: 70px;
    height: 30px;
    line-height: 30px;
    clear: both;
    border-radius: 4px;
    -moz-border-radius: 5px;
    -khtml-border-radius: 10px;
    background-color: white;
    opacity: 0.8;
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
    color: #000000;
    text-shadow: 1px 1px grey;
}

.input_field {
    width: 200px;
    height: 24px;
    padding: 6px 12px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    font-size: 16px;
}

.input_header {
    font-size: 18px;
    font-weight: bold;
}

th {
    color: grey;
    font-size: 18px;
    font-weight: bold;
}

.tableView th{
    color: black;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    padding: 2px;
}

.tableView tr{
    border-top: 1px solid #ababab;
}

.tableView td {
    padding: 2px;
    text-align: left;
}

.tableFilter {
    color: #0b3e6f;
    font-size: 16px;
    font-weight: bold;
}

th.oe_sortable,
th.oe_sortable_sub {
    cursor: pointer;
}

th.oe_sortable .arrow,
th.oe_sortable_sub .arrow {
    display: none;
    padding: 0 0 0 5px;
    margin: 0;
    text-align: center;
    width: 5px;
    height: 5px;
    font-weight: 100 !important;
    cursor: pointer;
    font-family: Icons;
    text-decoration: none;
    line-height: 23px;
    background: none;
}
.sortUP, .sortDN {
    display: none;
}

/*th.oe_sortable.sortDn .down,*/
/*th.oe_sortable_sub.sortDn .down {*/
    /*display: none;*/
/*}*/

.pagination {
    width: 100%;
    float: right;
    margin-top: 5px;
    margin-bottom: 5px;
}
.pagination div {
    float: left;
}
.pagination .countOnPage {
    float: left;
}
.pagination .nextPrev {
    float: right;
    margin-right: 5px;
}
.pagination .countOnPage {
    margin-left: 5px;
}
.pagination #previousPage,
.pagination #nextPage,
.pagination .currentPageList,
.pagination #firstShowPage,
.pagination #lastShowPage {
    background-color: white;
    background-image: none;
    line-height: 15px;
    width: 20px;
    height: 18px;
    display: block;
    text-align: center;
    padding: 0;
    border-radius: 0;
    font-weight: bold;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    float: left;
}
.pagination #firstShowPage,
.pagination #lastShowPage {
    width: 30px;
    height: 18px;
    display: block;
    font-size: 12px;
}
.pagination #previousPage {
    margin: 0 3px;
    font-size: 12px;
}
.pagination #nextPage {
    margin: 0 3px;
    font-size: 12px;
}
.pagination .allPage {
    position: relative;
}
.pagination button {
    color: rgba(0, 0, 0, 0.75);
}
.pagination button:hover {
    background-color: #F7F8F9;
    color: rgba(0, 0, 0, 0.9);
    border: 1px solid rgba(0, 0, 0, 0.9);
}
.pagination button[disabled] {
    color: rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.3);
    cursor: default;
}
.pagination #currentShowPage {
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-right: 1px solid rgba(0, 0, 0, 0);
    width: 21px;
    height: 12px;
    margin-left: 5px;
    font-size: 12px !important;
}
.pagination #pageList {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.4);
    position: absolute;
    bottom: 17px;
    left: -7px;
    display: none;
}
.pagination #pageList li {
    display: block;
    width: 25px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 12px;
}
.pagination #pageList li:hover {
    background-color: #13C4A5;
    color: white;
    text-decoration: none;
}
.pagination .currentPageList {
    margin-right: 5px;
    font-size: 12px;
}
.pagination .currentPageList .caret {
    display: block;
    height: 15px;
    /*background-image: url("../images/arrow-up.png");*/
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.pagination .pageList {
    position: relative;
}
.pagination .pageList button {
    background-color: white;
    background-image: none;
    border-radius: 0;
    width: 27px;
    margin: 0 5px;
    line-height: 10px;
    font-size: 12px;
}
.pagination .pageList button:hover {
    background-color: #F7F8F9;
}
.pagination .pageList ul {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.4);
    position: absolute;
    bottom: 15px;
    left: 5px;
    display: none;
    font-size: 12px;
}
.pagination .pageList ul li a {
    display: block;
    width: 25px;
    height: 20px;
    line-height: 20px;
    text-align: center;
}
.pagination .pageList ul li a:hover {
    background-color: #13C4A5;
    color: white;
    text-decoration: none;
}