<div class="content">
    <div class="row noMargin">
        <div class="btnGroup column extraSmall-8 noPadding"></div>
        <div class="extraSmall-3 column indentExtraSmall-1 noPadding"></div>
    </div>

    <form class="formView">

        <table class="tableForm table">
            <thead>
                <tr>
                    <th>List of properties</th>
                    <th>Input, set properties</th>
                    <th>Description of properties</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="hiddenByDefault">login:</td>
                    <td class="hiddenByDefault"><input type="text" name="name" id="login" size="20" maxlength="40" value="<%= user.login%>" /></td>
                    <td class="hiddenByDefault">Input login.</td>
                </tr>
                <tr>
                    <td class="hiddenByDefault">pasword:</td>
                    <td class="hiddenByDefault"><input type="password" name="name" id="pass" size="20" maxlength="40" value="" /></td>
                    <td class="hiddenByDefault">Input password</td>
                </tr>
                <tr>
                    <td class="hiddenByDefault">gender:</td>
                    <td class="hiddenByDefault">
                        <span class="radioBtnBox">
                            <input type="radio" class="with-gap" name="gender" id="gender" value="male" <%= (user.profile.gender == 'male') ? 'checked' : ''%> />
                            <label for="gender">male</label>
                        </span>
                        <span class="radioBtnBox">
                            <input type="radio" class="with-gap" name="gender" id="genderFemale" value="female" <%= (user.profile.gender == 'male') ? '' : 'checked'%> />
                            <label for="genderFemale">femail</label>
                        </span>
                    </td>
                    <td class="hiddenByDefault">Input gender</td>
                </tr>
                <tr>
                    <td class="hiddenByDefault">phone:</td>
                    <td class="hiddenByDefault"><input type="text" name="name" id="phone" size="15" maxlength="20" value="<%=  user.profile ? user.profile.phone: '' %>" /></td>
                    <td class="hiddenByDefault">Input phone</td>
                </tr>
                <tr>
                    <td class="hiddenByDefault">user has</td>
                    <td class="hiddenByDefault">Accounts on services:</td>
                    <td class="hiddenByDefault"></td>
                </tr>
                <% if (user.accounts.length){ %>
                <% for (var i= 0, len = user.accounts.length - 1; i <= len; i ++){ %>
                    <tr>
                        <td class="hiddenByDefault">serviceProvider:</td>
                        <td class="hiddenByDefault" style="color: #003eff"> <%= user.accounts[i].serviceProvider %></td>
                        <td class="hiddenByDefault"></td>
                    </tr>
                <% } %>
                <% } %>
                <tr>
                    <td class="hiddenByDefault">first name</td>
                    <td class="hiddenByDefault"><input type="text" name="name" id="firstName" size="20" maxlength="40" value="<%= user.profile ? user.profile.firstName || '' : ''%>" /></td>
                    <td class="hiddenByDefault">Input first name:</td>
                </tr>
                <tr>
                    <td class="hiddenByDefault">last name</td>
                    <td class="hiddenByDefault"><input type="text" name="name" id="lastName" size="20" maxlength="40" value="<%= user.profile ? user.profile.lastName || '' : ''%>" /></td>
                    <td class="hiddenByDefault">Input last name.</td>
                </tr>
                <tr>
                    <td class="hiddenByDefault">email</td>
                    <td class="hiddenByDefault"><input type="text" name="name" id="email" size="20" maxlength="40" value ="<%= user.profile ? user.profile.email || '' : ''%>"></td>
                    <td class="hiddenByDefault">Input email.</td>
                </tr>
                <tr>
                    <td class="hiddenByDefault">user type</td>
                    <td class="hiddenByDefault">
                        <div class="radioBtnBox">
                            <input type="radio" class="with-gap" name="userType" id="client" value="client" <%= user.userType == 'client' ? 'checked':''%>>
                            <label for="client">client</label>
                        </div>
                        <div class="radioBtnBox">
                            <input type="radio" class="with-gap" name="userType" id="admin" value="admin" <%= user.userType == 'admin' ? 'checked':''%>>
                            <label for="admin">admin</label>
                        </div>
                        <div class="radioBtnBox">
                            <input type="radio" class="with-gap" name="userType" id="company" value="company" <%= user.userType == 'company' ? 'checked':'' %>>
                            <label for="company">company</label>
                        </div>
                        <div class="radioBtnBox">
                            <input type="radio" class="with-gap" name="userType" id="government" value="government" <%= user.userType == 'government' ? 'checked':''%>>
                            <label for="government">government</label>
                        </div>
                    </td>
                    <td class="hiddenByDefault">Choose user type, it check when service access</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3" class="alignCenter">
                        <div id="updateBtn" class="btn btnDefault" onmouseover="this.style.cursor='pointer'">
                            <span>Save updated User</span>
                        </div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </form>
</div>