<div id="loginBlock" class="loginBlock">

    <div id="contact_name" class="input_div half">
        <label class="input_header">Login</label> <br>
        <input name="inputLogin" id="inputLogin" type="text" class="input_field">
        <p id="contact_name_p" class="error not_vissible"></p>
    </div>
    <div id="contact_last_name" class="input_div half">
        <label class="input_header">Password</label><br>
        <input name="inputPassword" id="inputPassword" type="password" class="input_field">
        <p id="contact_last_name_p" class="error not_vissible"></p>
    </div>
    <div id="signIn" data-hash="signIn" class="actionButton">
        SignIn
    </div>

</div>