<div class="content">

     <!--<div style="clear: both; margin: 1%">-->
    <!--</div>-->

    <div class="headerPage">
        <span>List of AdminHistoryLogs</span>
    </div>

    <table class="tableView table">
        <tr>
            <th class="oe_sortable" data-sort="user">user<span class="sortDN">&#x25bc</span><span class="sortUP">&#x25b2</span></th>
            <th class="oe_sortable" data-sort="action">action<span class="sortDN">&#x25bc</span><span class="sortUP">&#x25b2</span></th>
            <th class="oe_sortable" data-sort="model">model<span class="sortDN">&#x25bc</span><span class="sortUP">&#x25b2</span></th>
            <th class="oe_sortable" data-sort="modelId">modelId<span class="sortDN">&#x25bc</span><span class="sortUP">&#x25b2</span></th>
            <th class="oe_sortable" data-sort="description">description<span class="sortDN">&#x25bc</span><span class="sortUP">&#x25b2</span></th>
            <th class="oe_sortable" data-sort="createdAt">createdAt<span class="sortDN">&#x25bc</span><span class="sortUP">&#x25b2</span></th>
        </tr>

        <% if (collection.length) { %>
        <% for (var i = 0, len = collection.length - 1; i <= len; i++) { %>
        <tr>
            <td><%= collection[i].user ? collection[i].user.login : "Unauthorized" %></td>
            <td><%= collection[i].action %></td>
            <td><%= collection[i].model %></td>
            <td><%= collection[i].modelId %></td>
            <td><%= collection[i].description %></td>
            <td><%= collection[i].createdAt %></td>
        </tr>

        <% } %>
        <% } %>

        </table>

    <div id="paginationDiv">
    </div>

</div>
