<div id="change">
    <div class="startLogo">
        PT
    </div>
    <form class="change-password-form" name="changePassForm" novalidate>
        <h3>Change Your Password</h3>

        <div class="alert alert-danger display-hide" ng-show="changePassForm.$submitted && changePassForm.$invalid">
            <span ng-show="changePassForm.newPass.$error.required">Enter your new password <br/></span>
            <span ng-show="changePassForm.newPass.$error.minlength">Password should be at least 6 characters long<br/></span>
            <span ng-show="changePassForm.confirmPass.$error.required">Confirm your new password<br/></span>
            <span ng-show="changePassForm.confirmPass.$error.confirmation">New password and confirmation are not equal<br/></span>
            <span ng-show="authCtrl.error">{{ authCtrl.error }}<br/></span>
        </div>

        <div class="form-group">
            <input class="form-control placeholder-no-fix" id="newPass" type="password"
                   placeholder="New Password"
                   required name="newPass" ng-model="authCtrl.credentials.newPassword" minlength = 6>
        </div>

        <div class="form-group">
            <input class="form-control placeholder-no-fix" id="confirmPass" type="password"
                   placeholder="Confirm New Password"
                   required name="confirmPass" ng-model="authCtrl.credentials.confirmPassword"
                   compare-to-validator="authCtrl.credentials.newPassword">
        </div>

        <div class="form-group">
            <button class="btn btn-block btn-default" ng-click="authCtrl.changePass(authCtrl.credentials)">Change</button>
        </div>
    </form>
</div>