<div class="content">

    <div class="row noMargin">
        <div class="searchBlock extraSmall-3 column indentExtraSmall-9 noPadding">
            <input id="searchTerm"
                   class="form-control input-field ng-valid ng-dirty ng-valid-parse ng-touched" type="text" />
            <label for="searchTerm" class="">Search</label>
        </div>
    </div>
    <div class="headerPage">
        <span>List of emailReports</span>
    </div>
    <div class="tableFilter"><b> Show: </b>
        <b> <input type="checkbox" class="filterServiceType filledIn" id="filterHelpSalim"
                   value="Help Salim"<%= filter.length ? ( filter.match(/Help Salim/) ? '' : 'checked') : 'checked' %>> <label for="filterHelpSalim">Help Salim</label> </b>
        <b> <input type="checkbox" class="filterServiceType filledIn" id="filterSMSBlock"
                   value="SMS Block" <%= filter.length ? ( filter.match(/SMS Block/) ? '' : 'checked') : 'checked' %>> <label for="filterSMSBlock">SMS Block</label></b>
        <b> <input type="checkbox" class="filterServiceType filledIn" id="filterPoorCoverage"
                   value="Poor Coverage" <%= filter.length ? ( filter.match(/Poor Coverage/) ? '' : 'checked') : 'checked' %>> <label for="filterPoorCoverage">Poor Coverage</label></b>

    </div>

    <table class="tableView table">
        <thead>
        <tr>
            <th class="oe_sortable" data-sort="serviceType">serviceType<span class="sortDN">&#x25bc</span><span class="sortUP">&#x25b2</span>
            <th class="oe_sortable" data-sort="serviceProvider">serviceProvider<span class="sortDN">&#x25bc</span><span class="sortUP">&#x25b2</span>
            <th class="oe_sortable" data-sort="user">user<span class="sortDN">&#x25bc</span><span class="sortUP">&#x25b2</span>
            <th class="oe_sortable" data-sort="title">title<span class="sortDN">&#x25bc</span><span class="sortUP">&#x25b2</span>
            <th class="oe_sortable" data-sort="description">description<span class="sortDN">&#x25bc</span><span class="sortUP">&#x25b2</span>
            <th class="oe_sortable" data-sort="attachment">attachment<span class="sortDN">&#x25bc</span><span class="sortUP">&#x25b2</span>
            <th class="oe_sortable" data-sort="mailTo">mailTo<span class="sortDN">&#x25bc</span><span class="sortUP">&#x25b2</span>
            <th class="oe_sortable" data-sort="createdAt">createdAt<span class="sortDN">&#x25bc</span><span class="sortUP">&#x25b2</span>
            <th class="oe_sortable" data-sort="response">response<span class="sortDN">&#x25bc</span><span class="sortUP">&#x25b2</span>

        </tr>
        </thead>
        <tbody>
        <% if (collection.length) { %>
        <% for (var i = 0, len = collection.length - 1; i <= len; i++) { %>
        <tr>
            <td><%= collection[i].serviceType %></td>
            <td><%= collection[i].serviceProvider %></td>
            <td><%= collection[i].user ? collection[i].user.login : '' %></td>
            <!--<td><%= collection[i].user %></td>-->
            <td><%= collection[i].title %></td>
            <td><%= collection[i].description %></td>
            <td><% if (collection[i].attachment) {%>
            <!--<a href="<%= collection[i].attachment %>" target="_blank"> <img src="<%= collection[i].attachment %>" style=" height: 40px"></a>-->

                <a href="/image/<%= collection[i].attachment %>" target="_blank"> <img src="../../img/attachment.png" style=" height: 40px" alt = "attachment"></a>
                <% } %>
            </td>
            <td><%= collection[i].mailTo %></td>
            <td><%= collection[i].createdAt %></td>
            <td ><%= collection[i].response ?  ( collection[i].response.message ? collection[i].response.message : collection[i].response) : '' %></td>
        </tr>

        <% } %>
        <% } %>
        </tbody>

    </table>

    <div style="clear:both; "></div>

    <div id="paginationDiv" class="paginationDiv">
    </div>

</div>
