<div style=" padding-bottom: 5px;margin-left: 5px; margin-right: 5px; vertical-align: top">

    <div style=" width: 100%; margin-top: 5px; margin-bottom: 5px">
        <div style=" background-color: lightsteelblue;  float: none; text-align: center; opacity: 0.8;">
            <span style="font-size: 22px; "><b>List of emailReports</b></span></div>
    </div>
    <div class = "tableFilter"><b> Show: </b>
        <b> <input type="checkbox" class="filterServiceType" id="filterHelpSalim"
                   value="Help Salim"<%= filter.length ? ( filter.match(/Help Salim/) ? '' : 'checked') : 'checked' %>> Help Salim </b>
        <!--(filter.match(/helpSalim/) ? '' : 'checked') : 'checked' %> >helpSalim </b>-->
        <b> <input type="checkbox" class="filterServiceType" id="filterSMSSpam"
                   value="SMS Spam" <%= filter.length ? ( filter.match(/SMS Spam/) ? '' : 'checked') : 'checked' %>> SMS Spam</b>
        <b> <input type="checkbox" class="filterServiceType" id="filterSMSBlock"
                   value="SMS Block" <%= filter.length ? ( filter.match(/SMS Block/) ? '' : 'checked') : 'checked' %>> SMS Block</b>
        <b> <input type="checkbox" class="filterServiceType" id="filterServiceProvider"
                   value="Service Provider"<%= filter.length ? ( filter.match(/Service Provider/) ? '' : 'checked') : 'checked' %>> Service Provider </b>
        <b> <input type="checkbox" class="filterServiceType" id="filterTRAService"
                   value="TRA Service" <%= filter.length ? ( filter.match(/TRA Service/) ? '' : 'checked') : 'checked' %>> TRA Service</b>
        <b> <input type="checkbox" class="filterServiceType" id="filterEnquiries"
                   value="Enquiries" <%= filter.length ? ( filter.match(/Enquiries/) ? '' : 'checked') : 'checked' %>> Enquiries</b>
        <b> <input type="checkbox" class="filterServiceType" id="filterSuggestion"
                   value="Suggestion"<%= filter.length ? ( filter.match(/Suggestion/) ? '' : 'checked') : 'checked' %>> Suggestion </b>
        <b> <input type="checkbox" class="filterServiceType" id="filterPoorCoverage"
                   value="Poor Coverage" <%= filter.length ? ( filter.match(/Poor Coverage/) ? '' : 'checked') : 'checked' %>> Poor Coverage</b>

    </div>

    <table class="tableView" style="border: 1px solid black; width: 100%; text-align: center">
        <tr>
            <th class="oe_sortable" data-sort="serviceType">serviceType
                <!--<span class="arrow down">&#708;</span><span class="arrow up">&#709;</span></th>-->
            <th class="oe_sortable" data-sort="serviceProvider">serviceProvider
            <!--<span class="arrow down">&#708;</span><span class="arrow up">&#709;</span></th>-->
            <th class="oe_sortable" data-sort="user">user
            <!--<span class="arrow down">&#708;</span><span class="arrow up">&#709;</span></th>-->
            <th class="oe_sortable" data-sort="title">title
            <!--<span class="arrow down">&#708;</span><span class="arrow up">&#709;</span></th>-->
            <th class="oe_sortable" data-sort="description">description
            <!--<span class="arrow down">&#708;</span><span class="arrow up">&#709;</span>-->
            <th class="oe_sortable" data-sort="attachment">attachment
            <!--<span class="arrow down">&#708;</span><span class="arrow up">&#709;</span></th>-->
            <th class="oe_sortable" data-sort="mailTo">mailTo
            <!--<span class="arrow down">&#708;</span><span class="arrow up">&#709;</span></th>-->
            <th class="oe_sortable" data-sort="createdAt">createdAt
            <!--<span class="arrow down">&#708;</span><span class="arrow up">&#709;</span></th>-->
            <th class="oe_sortable" data-sort="response">response
            <!--<span class="arrow down">&#708;</span><span class="arrow up">&#709;</span></th>-->
        </tr>

        <% if (collection.length) { %>
        <% for (var i = 0, len = collection.length - 1; i <= len; i++) { %>
        <tr>
            <td><%= collection[i].serviceType %></td>
            <td><%= collection[i].serviceProvider %></td>
            <td><%= collection[i].user ? collection[i].user.login : '' %></td>
            <!--<td><%= collection[i].user %></td>-->
            <td><%= collection[i].title %></td>
            <td><%= collection[i].description %></td>
            <td style="text-align: center"><% if (collection[i].attachment) {%>
            <!--<a href="<%= collection[i].attachment %>" target="_blank"> <img src="<%= collection[i].attachment %>" style=" height: 40px"></a>-->

                <a href="/attachment/<%= collection[i].attachment %>" target="_blank"> <img src="../../img/attachment.png" style=" height: 40px" alt = "attachment"></a>
                <% } %>
            </td>
            <td style=" word-break: break-all;"><%= collection[i].mailTo %></td>
            <td style=" word-break: break-all;"><%= collection[i].createdAt %></td>
            <td  style=" word-break: break-all;"><%= collection[i].response ?  ( collection[i].response.message ? collection[i].response.message : collection[i].response) : '' %></td>
        </tr>

        <% } %>
        <% } %>

    </table>

    <div style="clear:both; "></div>

    <div id="paginationDiv" style="">
    </div>

</div>
