<div class="content">

     <!--<div style="clear: both; margin: 1%">-->
    <!--</div>-->

    <div class="row noMargin">
        <div class="btnGroup column extraSmall-8 noPadding">
            <a id="exportCsv" data-hash="exportCsv" class="btn btnExportCsv extraSmall-4">Export Csv</a>
        </div>
    </div>
    <div class="headerPage">
        <span>List of Feedbacks</span>
    </div>

    <table class="tableView table">
        <thead>
        <tr>
            <th class="oe_sortable" data-sort="serviceName">ServiceName<span class="sortDN">&#x25bc</span><span class="sortUP">&#x25b2</span></th>
            <th class="oe_sortable" data-sort="serviceProvider" >ServiceProvider<span class="sortDN">&#x25bc</span><span class="sortUP">&#x25b2</span></th>
            <th class="oe_sortable" data-sort="user" >user<span class="sortDN">&#x25bc</span><span class="sortUP">&#x25b2</span></th>
            <th class="oe_sortable" data-sort="rate">rate<span class="sortDN">&#x25bc</span><span class="sortUP">&#x25b2</span></th>
            <th class="oe_sortable" data-sort="feedback" >feedback<span class="sortDN">&#x25bc</span><span class="sortUP">&#x25b2</span></th>
            <th class="oe_sortable" data-sort="createdAt" >createdAt<span class="sortDN">&#x25bc</span><span class="sortUP">&#x25b2</span></th>
        </tr>
        </thead>
        <tbody>
        <% if (collection.length) { %>
        <% for (var i = 0, len = collection.length - 1; i <= len; i++) { %>
        <tr>
            <td><%= collection[i].serviceName %></td>
            <td><%= collection[i].service ? collection[i].service.serviceProvider: '' %></td>
            <td><%= collection[i].user ? collection[i].user.login : '' %></td>
            <td><%= collection[i].rate %></td>
            <td><%= collection[i].feedback %></td>
            <td><%= collection[i].createdAt %></td>
        </tr>
        <% } %>
        <% } %>
        </tbody>

        </table>

    <div style="clear:both; "></div>

    <div id="paginationDiv" class="paginationDiv">
    </div>

</div>
