<div style=" padding-bottom: 5px;margin-left: 5px; margin-right: 5px; vertical-align: top">

     <!--<div style="clear: both; margin: 1%">-->
    <!--</div>-->

    <div style=" width: 100%; margin-top: 5px; margin-bottom: 5px">
        <div style=" background-color: lightsteelblue;  float: none; text-align: center; opacity: 0.8;">
            <span style="font-size: 22px; "><b>List of Feedbacks</b></span></div>
            </div>

    <table class="tableView" style="border: 1px solid black; width: 100%; text-align: center">
        <tr>
            <th>ServiceName</th>
            <th>Service</th>
            <th>user</th>
            <th>rate</th>
            <th>feedback</th>
            <th>createdAt</th>
        </tr>

        <% if (collection.length) { %>
        <% for (var i = 0, len = collection.length - 1; i <= len; i++) { %>
        <tr>
            <td><%= collection[i].serviceName %></td>
            <td><%= collection[i].service %></td>
            <td><%= collection[i].user %></td>
            <td><%= collection[i].rate %></td>
            <td><%= collection[i].feedback %></td>
            <td><%= collection[i].createdAt %></td>
        </tr>

        <% } %>
        <% } %>

        </table>

    <div style="clear:both; "></div>

    <div id="paginationDiv" style="">
    </div>

</div>
