<div class="content">

    <div class="row noMargin">
        <div class="btnGroup column extraSmall-8 noPadding">
            <a href="#createIcon" id="createIcon" data-hash="create" class="btn btnCreate extraSmall-3">Create</a>
            <a id="deleteIcon" data-hash="delete" class="btn btnDelete extraSmall-3">Delete</a>
        </div>
        <div class="extraSmall-3 column indentExtraSmall-1 noPadding searchBlock">
            <input id="searchTerm" class="form-control ng-valid ng-dirty ng-valid-parse ng-touched" type="text" />
            <label for="searchTerm">Search</label>
        </div>
    </div>

    <div class="row noMargin">
        <div class="headerPage extraSmall-1">
            <span>List of Icons</span>
        </div>
        <div id="databaseList" class="extraSmall-1 iconsList"></div>
    </div>

    <div id="propertyList" class="iconContainer" style="display: none">
        <div class="iconEdit row noMargin">
            <div class="extraSmall-6 column indentExtraSmall-3 iconInput">
                <div class="input-field column extraSmall-12">
                    <input id="iconTitle" type="text" />
                    <label for="iconTitle">Title:</label>
                </div>
            </div>
            <div class="extraSmall-10 column indentExtraSmall-1">
                <div class="extraSmall-2 ios">
                    <div class="extraSmall-1 iconIos alignCenter">
                        <div class="iconImg contain" style="background-image: url('../img/ic_apple.png');"></div>
                    </div>
                    <div class="iconDiv extraSmall-3">
                        <span class="iconTitle">@3x: </span>
                        <img id="i3x" class="contain icon-3x" />
                        <input id="i3xinput" type="file" accept="image/png" class="inputIcon fileInput" data-hash="i3x">
                        <label for="i3xinput">Select icon</label>
                    </div>
                    <div class="iconDiv extraSmall-3">
                        <span class="iconTitle">@2x: </span>
                        <img id="i2x" class="contain icon-2x" />
                        <input id="i2xinput" type="file" accept="image/png" class="inputIcon fileInput" data-hash="i2x">
                        <label for="i2xinput">Select icon</label>
                    </div>
                </div>
                <div class="extraSmall-2 android">
                    <div class="extraSmall-1 iconAndroid alignCenter">
                        <div class="iconImg contain" style="background-image: url('../img/ic_android.png');"></div>
                    </div>
                    <div class="iconDiv extraSmall-3">
                        <span class="iconTitle">xxxhdpi: </span>
                        <img id="ixxxhdpi" class="contain icon-3x" />
                        <input id="ixxxhdpinput" type="file" accept="image/png" class="inputIcon fileInput" data-hash="ixxxhdpi">
                        <label for="ixxxhdpinput">Select icon</label>
                    </div>
                    <div class="iconDiv extraSmall-3">
                        <span class="iconTitle">xxhdpi: </span>
                        <img id="ixxhdpi" class="contain icon-2x" />
                        <input id="ixxhdpinput" type="file" accept="image/png" class="inputIcon fileInput" data-hash="ixxhdpi">
                        <label for="ixxhdpinput">Select icon</label>
                    </div>
                    <div class="iconDiv extraSmall-3">
                        <span class="iconTitle">xhdpix: </span>
                        <img id="ixhdpi" class="contain icon-1x" />
                        <input id="ixhdpimput" type="file" accept="image/png" class="inputIcon fileInput" data-hash="ixhdpi">
                        <label for="ixhdpimput">Select icon</label>
                    </div>
                    <div class="iconDiv iconDivSmall extraSmall-3">
                        <span class="iconTitle">hdpi: </span>
                        <img id="ihdpi" class="contain icon-075x" />
                        <input id="ihdpinput" type="file" accept="image/png" class="inputIcon fileInput" data-hash="ihdpi">
                        <label for="ihdpinput">Select icon</label>
                    </div>
                    <div class="iconDiv iconDivSmall extraSmall-3">
                        <span class="iconTitle">mdpi: </span>
                        <img id="imdpi" class="contain icon-05x">
                        <input id="imdpinput" type="file" accept="image/png" class="inputIcon fileInput" data-hash="imdpi">
                        <label for="imdpinput">Select icon</label>
                    </div>
                </div>
                <div class="extraSmall-1 alignCenter iconBtnSave">
                    <div id="save">
                        <span>Save icons in DB</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="paginationDiv" class="paginationDiv"></div>

</div>
