<div style="text-align:left">
    <div id="topBar" style="width: 74%;  float: left; text-align: center; left:1px; <% if(!authorized) { %>  display: none; <% } %> ">
        <h1>topBar</h1>
    </div>

    <div id="logOutBlock" style="width: 25%;  float: left;  text-align: left; <% if(!authorized) { %>  display: none; <% } %> ">

        <label class="input_header" id="signInLogin">login</label>

        <a href="#" id="signOut" data-hash="signOut" class="actionButton" style="text-decoration: none">
            SignOut
        </a>
    </div>
</div>

<div id="loginBlock" style="width: 300px;  text-align: center; clear: both; <% if(authorized) { %>  display: none; <% } %>">
    <div id="contact_name" class="input_div half"><label class="input_header">Login</label> <br>
        <input name="inputLogin" id="inputLogin" type="text" class="input_field">

        <p id="contact_name_p" class="error not_vissible"></p></div>
    <div id="contact_last_name" class="input_div half"><label class="input_header">Password</label><br>
        <input name="inputPassword" id="inputPassword" type="text" class="input_field">

        <p id="contact_last_name_p" class="error not_vissible"></p></div>
    <div id="signIn" data-hash="signIn" class="actionButton">
        SignIn
    </div>

</div>

