<div style="text-align:left;">
    <div id="topBar" style="width: 74%;  float: left; text-align: center; left: 1px;">
        <h1>topBar</h1>
    </div>

    <div id="logOutBlock" style="width: 25%;  float: left; text-align: right; ">

        <!--<label class="input_header" id="signInLogin"></label>-->

        <a href="#" id="signOut" data-hash="signOut" class="actionButton" style="text-decoration: none">
            SignOut
        </a>
    </div>
    <div style="clear: both"></div>
</div>

<div id="dataBlock"
     style="width: 750px; min-height: 100px; clear: both;  border-radius: 4px; -moz-border-radius: 5px; -khtml-border-radius: 10px; border: 1px solid grey">

</div>





