<div class="content">

    <div class="row noMargin">
        <div class="btnGroup column extraSmall-8 noPadding">
            <a id="createService" dat-hash="" class="actionButton btn btnCreate extraSmall-4">Create</a>
            <a href="#cloneService" id="cloneService" data-hash="clone" class="btn btnClose extraSmall-4">Clone</a>
            <a href="#updateService" id="updateService" data-hash="update" class="btn btnUpdate extraSmall-4">Update</a>
            <a id="deleteService" data-hash="delete" class="btn btnDelete extraSmall-4">Delete</a>
        </div>
    </div>
    <div class="row noMargin">
        <div class="headerPage extraSmall-1">
            <span>List of Services</span>
        </div>
        <div class="table tableView">
            <div id="databaseList"></div>
        </div>
    </div>

    <div id="paginationDiv" class="paginationDiv">
    </div>

    <div style="float: right;">
        <div>
            <span id="properties">Service properties</span>
        </div>
        <div id="propertyList" class="hide"></div>
    </div>

</div>
