<div style=" padding-bottom: 5px; margin-left: 5px">

    <div style="width: 750px; margin-top: 5px;">
        <div id="createService" data-hash="" class="actionButton" style="width:200px; float: left; clear: none">
            Create new Service
        </div>
    </div>

    <div style="clear: both; margin: 5px">
    </div>

    <div style=" width: 50%; min-height: 100px; float: left;  padding-bottom: 5px;">
        <div style=" background-color: lightsteelblue;  float: none; text-align: center; opacity: 0.8;">
            <span style="font-size: 22px; "><b>List of Services</b></span></div>
        <div id="databaseList" style=" width: auto; height: auto;   opacity: 0.8;"></div>
    </div>

    <div style=" margin-left:0.5%; width:49%;  min-height: 100px; float: left;  background-color: #FAF5F5;    opacity: 0.8; padding-bottom: 5px">
        <div style="width: 100%;background-color: lightsteelblue; text-align: center ; ">
            <span id="properties" style="font-size: 22px; ">Service properties</span>
            <a href="#updateService" id="updateService" data-hash="update" class="actionButtonWhite" style="text-decoration: none">
                update </a>
            <a href="#" id="deleteService" data-hash="delete" class="actionButtonWhite" style="text-decoration: none">
                delete </a>

        </div>
        <div id="propertyList"
             style=" background-color: #FAF5F5;   opacity: 0.8; font-size:11pt; word-break: break-all;"></div>
        <div style="clear:both; "></div>
    </div>
    <div style="clear:both; "></div>
    <div id="paginationDiv" style="border: 1px solid black">
        1
    </div>

</div>
