<div style="margin-top: 7px; margin-bottom:7px;  height: 50px;">

    <!--<div id="navigateLogin" data-hash="login" class="topBarButton" style="">-->
        <!--Login View-->
    <!--</div>-->

    <div id="navigateServicesView" data-hash="services"  class="topBarButton" style="">
        Services
    </div>

    <div id="navigateUsersView" data-hash="users"  class="topBarButton"   style="">
        Users
    </div>


    <!--<div id="navigateTestResult" data-hash="testResult"  class="topBarButton"   style="">-->
        <!--Test Result-->
    <!--</div>-->

    <!--<div  id="navigateAdminPanel" data-hash="AdminPanel"  class="topBarButton"  style="">-->
        <!--Admin panel-->
    <!--</div>-->


</div>
