<div class="sideNav fixed">

    <div id="navigateServicesInfoView" data-hash="servicesInfo" class="topBarButton">
        Services Info
    </div>
    <div id="navigateServicesView" data-hash="services" class="topBarButton iconServices">
        Services
    </div>

    <div id="navigateIconsView" data-hash="icon" class="topBarButton iconIcons">
        Icons
    </div>

    <div id="navigateUsersView" data-hash="users" class="topBarButton iconUsers">
        Users
    </div>

    <div id="navigateFeedbacksView" data-hash="feedbacks" class="topBarButton iconFeedbacks">
        Feedbacks
    </div>

    <div id="navigatePoorCoverageView" data-hash="poorCoverage" class="topBarButton iconPoorCoverage">
        Poor Coverage
    </div>

    <div id="navigateHelpSalimView" data-hash="helpSalim" class="topBarButton iconHelpSalim">
        Help Salim
    </div>

    <div id="navigateEmailReportsView" data-hash="emailReports" class="topBarButton iconEmailReports">
        EmailReports
    </div>

    <div id="adminHistoryLogView" data-hash="adminHistoryLog" class="topBarButton iconAdminHistoryLog">
        adminHistoryLog
    </div>

    <div id="signOut" data-hash="signOut" class="topBarButton iconSignin actionButton">
                   SignOut
    </div>

   <div id="paginationDiv" style="">
    </div>

</div>
