<div style="margin-top: 7px; margin-bottom:7px;  height: 50px;">

      <div id="navigateServicesView" data-hash="services" class="topBarButton" style="">
        Services
    </div>

    <div id="navigateIconsView" data-hash="icon" class="topBarButton" style="">
        Icons
    </div>

    <div id="navigateUsersView" data-hash="users" class="topBarButton" style="">
        Users
    </div>

    <div id="navigateFeedbacksView" data-hash="feedbacks" class="topBarButton" style="width: 100px">
        Feedbacks
    </div>

    <div id="navigateEmailReportsView" data-hash="emailReports" class="topBarButton"  style="width: 120px">
        EmailReports
    </div>

    <div id="adminHistoryLogView" data-hash="adminHistoryLog" class="topBarButton" style="width: 160px">
        adminHistoryLog
    </div>

    <div id="userHistoryLogView" data-hash="userHistoryLog" class="topBarButton" style="width: 160px">
        userHistoryLog
    </div>

    <div style="clear:both; "></div>

   <div id="paginationDiv" style="">
    </div>


</div>
