<div class="content">

    <div class="row noMargin">
        <div class="btnGroup column extraSmall-8 noPadding">
            <a id="createUser" data-hash="" class="actionButton btn btnCreate extraSmall-4">Create</a>
            <a href="#updateUser" id="updateUser" data-hash="update" class="btn btnUpdate extraSmall-4">Update</a>
            <a id="deleteUser" data-hash="delete" class="btn btnDelete extraSmall-4">Delete</a>
        </div>
        <div class="extraSmall-3 column indentExtraSmall-1 noPadding searchBlock">
            <input id="searchTerm" class="form-control ng-valid ng-dirty ng-valid-parse ng-touched" type="text" placeholder="">
            <label for="searchTerm">Search</label>
            <!--ng-keydown="customersCtrl.getCustomersList()" ng-model="customersCtrl.searchTerm"-->
        </div>
    </div>
    <div class="row noMargin">
        <div class="headerPage extraSmall-1">
            <span class="extraSmall-3 column noPadding">List of Users</span>
            <span class="extraSmall-9 column noPadding">Users properties</span>
        </div>
        <div class="usersList">
            <div id="databaseList" class="extraSmall-3 column"></div>
            <div id="propertyList" class="extraSmall-9 column overflowAuto"></div>
        </div>
    </div>
    <div id="paginationDiv" class="paginationDiv"></div>

</div>
