<div style="align-content: center; margin-top: 5px; padding-bottom: 5px">
    <form>
        <datalist id="standartFieldsName">
            <option value="serviceName"/>
            <option value="checkUrl"/>
            <option value="title"/>
            <option value="description"/>
            <option value="serviceProvider"/>
            <option value="referenceNumber"/>
            <option value="attachment"/>
            <option value="rate"/>
            <option value="feedback"/>
            <option value="imei"/>
            <option value="start"/>
            <option value="end"/>
            <option value="brand"/>
            <option value="phone"/>
            <option value="phoneProvider"/>
            <option value="providerType"/>
            <option value="url"/>
        </datalist>

        <table class="tableView">
            <tr>
                <th style="width:25%">List of properties</th>
                <th style="width:30%">Input, set properties</th>
            </tr>

            <% if (service.profile){ var i = 0; %>


            <% for (var k in service.profile){ %>
            <tr id="profileFieldBlockEN<%= i %>" class="serviceProfile">
                <td><input type="hidden" name="" id="profileFieldNameEN<%= i %>" size="15" maxlength="40"
                                          value="<%= k %>"><b><%= k %>: EN</b></td>
                <td><input type="text" name="" id="profileFieldValueEN<%= i %>" size="30" maxlength="400"
                           value="<%= service.profile[k].EN %>"></td>
            </tr>

            <tr id="profileFieldBlockAR<%= i %>" class="serviceProfile">
                <td><input type="hidden" name="" id="profileFieldNameAR<%= i %>" size="15" maxlength="40"
                                          value="<%= k %>"><b><%= k %>: AR</b></td>
                <td><input type="text" name="" id="profileFieldValueAR<%= i %>" size="30" maxlength="400"
                           value="<%= service.profile[k].AR %>"></td>
            </tr>

            <% i++ } %>
            <% } %>

        </table>

        <div style="clear: both; margin-top: 5px;"></div>
        <div style="float:left; text-align:center; width: 320px;  height: 35px; line-height:35px; background-color: #F8901F;  margin-left: 5px;">
            <div id="updateBtn" onmouseover="this.style.cursor='pointer'">
        <span style="font-family:Arial; font-size:20px;font-weight:bold; color: white;">
        Save Service Info
        </span>
            </div>
        </div>
        <div style="clear: both"></div>

    </form>
</div>



<!--<ul>-->
    <!--<li class="treeNode">-->
        <!--<div>-->
            <!--<img alt="" class="expandNode" src="img/minus.png"/>-->
            <!--<img alt="" class="collapseNode" src="img/plus.png"/>-->
        <!--</div>-->

        <!--<div>Node 1 - 1-->
        <!--</div>-->
        <!--<ul>-->
            <!--<li class="treeNode treeNodeIsLast">-->
                <!--<div>-->
                    <!--<img alt="" class="expandNode" src="img/minus.png"/>-->
                    <!--<img alt="" class="collapseNode" src="img/plus.png"/>-->
                <!--</div>-->

                <!--<div>Node 1 - 1 - 1-->
                <!--</div>-->
                <!--<ul>-->
                    <!--<li class="treeNode ">-->
                        <!--<div>-->
                            <!--<img alt="" class="expandNode" src="img/minus.png"/>-->
                            <!--<img alt="" class="collapseNode" src="img/plus.png"/>-->
                        <!--</div>-->

                        <!--<div>Node 1 - 1 - 1 - 1-->
                        <!--</div>-->
                        <!--<ul>-->
                            <!--<li class="treeNode ">-->
                                <!--<div>-->
                                    <!--<img alt="" class="expandNode" src="img/minus.png"/>-->
                                    <!--<img alt="" class="collapseNode" src="img/plus.png"/>-->
                                <!--</div>-->

                                <!--<div>Node 1 - 1 - 1 - 1 - 1-->
                                <!--</div>-->
                            <!--</li>-->
                            <!--<li class="treeNode treeNodeIsLast">-->
                                <!--<div>-->
                                    <!--<img alt="" class="expandNode" src="img/minus.png"/>-->
                                    <!--<img alt="" class="collapseNode" src="img/plus.png"/>-->
                                <!--</div>-->

                                <!--<div>Node 1 - 1 - 1 - 1 - 2-->
                                <!--</div>-->
                            <!--</li>-->
                            <!--<li class="treeNode treeNodeIsLast">-->
                                <!--<div>-->
                                    <!--<img alt="" class="expandNode" src="img/minus.png"/>-->
                                    <!--<img alt="" class="collapseNode" src="img/plus.png"/>-->
                                <!--</div>-->

                                <!--<div>Node 1 - 1 - 1 - 1 - 3-->
                                <!--</div>-->
                            <!--</li>-->
                        <!--</ul>-->
                    <!--</li>-->
                    <!--<li class="treeNode treeNodeIsLast">-->
                        <!--<div>-->
                            <!--<img alt="" class="expandNode" src="img/minus.png"/>-->
                            <!--<img alt="" class="collapseNode" src="img/plus.png"/>-->
                        <!--</div>-->

                        <!--<div>Node 1 - 1 - 1 - 2-->
                        <!--</div>-->
                    <!--</li>-->
                    <!--<li class="treeNode treeNodeIsLast" >-->
                        <!--<div>-->
                            <!--<img alt="" class="expandNode" src="img/minus.png"/>-->
                            <!--<img alt="" class="collapseNode" src="img/plus.png"/>-->
                        <!--</div>-->

                        <!--<div>Node 1 - 1 - 1 - 3-->
                        <!--</div>-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</li>-->
        <!--</ul>-->
    <!--</li>-->
    <!--<li class="treeNode treeNodeIsLast" >-->
        <!--<div>-->
            <!--<img alt="" class="expandNode" src="img/minus.png"/>-->
            <!--<img alt="" class="collapseNode" src="img/plus.png"/>-->
        <!--</div>-->

        <!--<div>Node 1 - 2-->
        <!--</div>-->
        <!--<ul>-->
            <!--<li class="treeNode treeNodeIsLast" >-->
                <!--<div>-->
                    <!--<img alt="" class="expandNode" src="img/minus.png"/>-->
                    <!--<img alt="" class="collapseNode" src="img/plus.png"/>-->
                <!--</div>-->

                <!--<div>Node 1 - 2 - 1-->
                <!--</div>-->
                <!--<ul>-->
                    <!--<li class="treeNode treeNodeIsLast">-->
                        <!--<div>-->
                            <!--<img alt="" class="expandNode" src="img/minus.png"/>-->
                            <!--<img alt="" class="collapseNode" src="img/plus.png"/>-->
                        <!--</div>-->

                        <!--<div>Node 1 - 2 - 1 - 1-->
                        <!--</div>-->
                        <!--<ul>-->
                            <!--<li class="treeNode treeNodeIsLast">-->
                                <!--<div>-->
                                    <!--<img alt="" class="expandNode" src="img/minus.png"/>-->
                                    <!--<img alt="" class="collapseNode" src="img/plus.png"/>-->
                                <!--</div>-->

                                <!--<div>Node 1 - 2 - 1 - 1 - 1-->
                                <!--</div>-->
                            <!--</li>-->
                            <!--<li class="treeNode treeNodeIsLast">-->
                                <!--<div>-->
                                    <!--<img alt="" class="expandNode" src="img/minus.png"/>-->
                                    <!--<img alt="" class="collapseNode" src="img/plus.png"/>-->
                                <!--</div>-->

                                <!--<div>Node 1 - 2 - 1 - 1 - 2-->
                                <!--</div>-->
                            <!--</li>-->
                            <!--<li class="treeNode treeNodeIsLast">-->
                                <!--<div>-->
                                    <!--<img alt="" class="expandNode" src="img/minus.png"/>-->
                                    <!--<img alt="" class="collapseNode" src="img/plus.png"/>-->
                                <!--</div>-->

                                <!--<div>Node 1 - 2 - 1 - 1 - 3-->
                                <!--</div>-->
                            <!--</li>-->
                        <!--</ul>-->
                    <!--</li>-->
                    <!--<li class="treeNode treeNodeIsLast">-->
                        <!--<div>-->
                            <!--<img alt="" class="expandNode" src="img/minus.png"/>-->
                            <!--<img alt="" class="collapseNode" src="img/plus.png"/>-->
                        <!--</div>-->

                        <!--<div>Node 1 - 2 - 1 - 2-->
                        <!--</div>-->
                    <!--</li>-->
                    <!--<li class="treeNode treeNodeIsLast">-->
                        <!--<div>-->
                            <!--<img alt="" class="expandNode" src="img/minus.png"/>-->
                            <!--<img alt="" class="collapseNode" src="img/plus.png"/>-->
                        <!--</div>-->

                        <!--<div>Node 1 - 2 - 1 - 3-->
                        <!--</div>-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</li>-->
        <!--</ul>-->
    <!--</li>-->
<!--</ul>-->
<!--</li>-->
<!--<li class="Node">-->
    <!--<div>-->
        <!--<img alt="" class="expandNode" src="img/minus.png"/>-->
        <!--<img alt="" class="collapseNode" src="img/plus.png"/>-->
    <!--</div>-->

    <!--<div>Node 2-->
    <!--</div>-->
    <!--<ul>-->
        <!--<li class="treeNode treeNodeIsLast">-->
            <!--<div>-->
                <!--<img alt="" class="expandNode" src="img/minus.png"/>-->
                <!--<img alt="" class="collapseNode" src="img/plus.png"/>-->
            <!--</div>-->

            <!--<div>Node 2 - 1-->
            <!--</div>-->
            <!--<ul>-->
                <!--<li class="treeNode treeNodeIsLast">-->
                    <!--<div>-->
                        <!--<img alt="" class="expandNode" src="img/minus.png"/>-->
                        <!--<img alt="" class="collapseNode" src="img/plus.png"/>-->
                    <!--</div>-->

                    <!--<div>Node 2 - 1 - 1-->
                    <!--</div>-->
                    <!--<ul>-->
                        <!--<li class="treeNode treeNodeIsLast">-->
                            <!--<div>-->
                                <!--<img alt="" class="expandNode" src="img/minus.png"/>-->
                                <!--<img alt="" class="collapseNode" src="img/plus.png"/>-->
                            <!--</div>-->

                            <!--<div>Node 2 - 1 - 1 - 1-->
                            <!--</div>-->
                            <!--<ul>-->
                                <!--<li class="treeNode treeNodeIsLast">-->
                                    <!--<div>-->
                                        <!--<img alt="" class="expandNode" src="img/minus.png"/>-->
                                        <!--<img alt="" class="collapseNode" src="img/plus.png"/>-->
                                    <!--</div>-->

                                    <!--<div>Node 2 - 1 - 1 - 1 - 1-->
                                    <!--</div>-->
                                <!--</li>-->
                                <!--<li class="treeNode treeNodeIsLast">-->
                                    <!--<div>-->
                                        <!--<img alt="" class="expandNode" src="img/minus.png"/>-->
                                        <!--<img alt="" class="collapseNode" src="img/plus.png"/>-->
                                    <!--</div>-->

                                    <!--<div>Node 2 - 1 - 1 - 1 - 2-->
                                    <!--</div>-->
                                <!--</li>-->
                                <!--<li class="treeNode treeNodeIsLast">-->
                                    <!--<div>-->
                                        <!--<img alt="" class="expandNode" src="img/minus.png"/>-->
                                        <!--<img alt="" class="collapseNode" src="img/plus.png"/>-->
                                    <!--</div>-->

                                    <!--<div>Node 2 - 1 - 1 - 1 - 3-->
                                    <!--</div>-->
                                <!--</li>-->
                            <!--</ul>-->
                        <!--</li>-->
                        <!--<li class="treeNode treeNodeIsLast">-->
                            <!--<div>-->
                                <!--<img alt="" class="expandNode" src="img/minus.png"/>-->
                                <!--<img alt="" class="collapseNode" src="img/plus.png"/>-->
                            <!--</div>-->

                            <!--<div>Node 2 - 1 - 1 - 2-->
                            <!--</div>-->
                        <!--</li>-->
                        <!--<li class="treeNode treeNodeIsLast">-->
                            <!--<div>-->
                                <!--<img alt="" class="expandNode" src="img/minus.png"/>-->
                                <!--<img alt="" class="collapseNode" src="img/plus.png"/>-->
                            <!--</div>-->

                            <!--<div>Node 2 - 1 - 1 - 3-->
                            <!--</div>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</li>-->
        <!--<li class="treeNode treeNodeIsLast">-->
            <!--<div>-->
                <!--<img alt="" class="expandNode" src="img/minus.png"/>-->
                <!--<img alt="" class="collapseNode" src="img/plus.png"/>-->
            <!--</div>-->

            <!--<div>Node 2 - 2-->
            <!--</div>-->
            <!--<ul>-->
                <!--<li class="treeNode treeNodeIsLast">-->
                    <!--<div>-->
                        <!--<img alt="" class="expandNode" src="img/minus.png"/>-->
                        <!--<img alt="" class="collapseNode" src="img/plus.png"/>-->
                    <!--</div>-->

                    <!--<div>Node 2 - 2 - 1-->
                    <!--</div>-->
                    <!--<ul>-->
                        <!--<li class="treeNode treeNodeIsLast">-->
                            <!--<div>-->
                                <!--<img alt="" class="expandNode" src="img/minus.png"/>-->
                                <!--<img alt="" class="collapseNode" src="img/plus.png"/>-->
                            <!--</div>-->

                            <!--<div>Node 2 - 2 - 1 - 1-->
                            <!--</div>-->
                            <!--<ul>-->
                                <!--<li class="treeNode treeNodeIsLast">-->
                                    <!--<div>-->
                                        <!--<img alt="" class="expandNode" src="img/minus.png"/>-->
                                        <!--<img alt="" class="collapseNode" src="img/plus.png"/>-->
                                    <!--</div>-->

                                    <!--<div>Node 2 - 2 - 1 - 1 - 1-->
                                    <!--</div>-->
                                <!--</li>-->
                                <!--<li class="treeNode treeNodeIsLast">-->
                                    <!--<div>-->
                                        <!--<img alt="" class="expandNode" src="img/minus.png"/>-->
                                        <!--<img alt="" class="collapseNode" src="img/plus.png"/>-->
                                    <!--</div>-->

                                    <!--<div>Node 2 - 2 - 1 - 1 - 2-->
                                    <!--</div>-->
                                <!--</li>-->
                                <!--<li class="treeNode treeNodeIsLast">-->
                                    <!--<div>-->
                                        <!--<img alt="" class="expandNode" src="img/minus.png"/>-->
                                        <!--<img alt="" class="collapseNode" src="img/plus.png"/>-->
                                    <!--</div>-->

                                    <!--<div>Node 2 - 2 - 1 - 1 - 3-->
                                    <!--</div>-->
                                <!--</li>-->
                            <!--</ul>-->
                        <!--</li>-->
                        <!--<li class="treeNode treeNodeIsLast">-->
                            <!--<div>-->
                                <!--<img alt="" class="expandNode" src="img/minus.png"/>-->
                                <!--<img alt="" class="collapseNode" src="img/plus.png"/>-->
                            <!--</div>-->

                            <!--<div>Node 2 - 2 - 1 - 2-->
                            <!--</div>-->
                        <!--</li>-->
                        <!--<li class="treeNode treeNodeIsLast">-->
                            <!--<div>-->
                                <!--<img alt="" class="expandNode" src="img/minus.png"/>-->
                                <!--<img alt="" class="collapseNode" src="img/plus.png"/>-->
                            <!--</div>-->

                            <!--<div>Node 2 - 2 - 1 - 3-->
                            <!--</div>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</li>-->
    <!--</ul>-->

