.cover {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.contain {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}
.wrapper {
  //background: #fff url('../img/background.jpg') no-repeat center center;
  //background-size: 100% 100%;
  padding-left: 315px;
}