<div>
    <ul class="pagination">

    <span>
        <span id="grid-start"> <%= gridStart %> </span> -
        <span id="grid-end"><%= gridEnd %></span> of
        <span id="grid-count"><%= gridCount %></span> items
    </span>

    <select id="selectCountPerPage" value="<%= countPerPage %>" >
        <option value="5" <% if (countPerPage == '5') { %> selected <% } %> >5</option>
        <option value="10" <% if (countPerPage == '10') { %> selected <% } %> >10</option>
        <option value="20" <% if (countPerPage == '20') { %> selected <% } %> >20</option>
        <option value="50" <% if (countPerPage == '50') { %> selected <% } %> >50</option>
    </select>
    <span>Per Page </span>


    <% for(page in pages) { %>
    <li class="<% if (pages[page].clNam) {%>arrow<%}%><% if(pages[page].active) { %>active<% } %> item">
        <% if(urlPagination) { %>
        <a href="#<%= url %>/p=<%= pages[page].data %>/c=<%= countPerPage %><%= data.filter ? '/f=' + data.filter:'' %><%= data.orderBy ? '/ob=' + data.orderBy + '/o=' + data.order:'' %>"><%= pages[page].html %></a>
        <% } else { %>
        <a class="goToPage" value="<%= pages[page].data %>"><%= pages[page].html %></a>
        <% } %>
    </li>
    <% } %>
</ul>
    <div style="clear: both"></div>
</div>
