<div id="selectIconDiv" style="border-color: #595959; width: 310px; position: fixed; top: 30%; left: 40%;">

    <div style="text-align: center; float: left; margin-top: 2px">
        <input id="searchTerm" style="border-color: #595959; width: 200px; height: 30px;"
               class="form-control ng-valid ng-dirty ng-valid-parse ng-touched" type="text"
               placeholder="Search by title">
    </div>
    <div style="text-align: center; float: left; margin-top: 2px;">&nbsp<a href="#" id="selectIcon"
                                                                           class="actionButtonWhite"
                                                                           style="text-decoration: none">&nbsp
        Select &nbsp</a>
    </div>
    <div style="text-align: center; float: right; margin-top: 2px"><a href="#" id="closeIcon" class="actionButtonWhite"
                                                                      style="text-decoration: none; color: red">&nbspX&nbsp</a>
    </div>

    <div style="clear: both; overflow-y: auto; min-height: 20px; width: 100%; background-color: whitesmoke; border: 1px solid gray; word-break: ">
    <span style="font-weight: bold;">Selected Icon Title: </span> <span id='selectedIcon' style="color: #0A0EF2;"></span> </div>

    <div id="iconList"
         style="clear: both; overflow-y: auto; min-height: 20px;max-height: 400px; width: 100%; background-color: whitesmoke; border: 1px solid black;">
    </div>

</div>
