.treeNode {
  /*margin-left: 18px;*/
  zoom: 1;
  background-image: url("../img/line.gif");
  background-position: top left;
  background-repeat: repeat-y;
}
.clickNodeName{
  cursor: pointer;
}
.treeNodeIsLast {
  background-image: url("../img/line_up.gif");
  background-repeat: no-repeat;
}
.tree {
  width: 100%
}
.tree ul {
  list-style: none;
}
.tree li {
  padding-top: 5px
}
.tree ul, .tree li, .tree div {
  float: left
}
.tree ul, .tree li {
  width: 100%
}
.expandNode {
  width: 15px;
  height: 15px;
}
.collapseNode {
  width: 15px;
  height: 15px;
  display: none
}
.icon {
  font-size: 20px;
  font-family: Icons;
  text-decoration: none;
  display: block;
  line-height: 28px;
  width: 100%;
  height: 100%;
}
.icon:hover {
  text-decoration: none;
}
.DbList {
  background-color: white;
  cursor: pointer;
  color: #0A0EF2;
  clear: both;
  vertical-align: middle;
}

.iconSelectList {
  background-color: white;
  cursor: pointer;
  color: #0A0EF2;
  clear: both;
  vertical-align: middle;
  height: 50px;
  border-bottom: 1px solid grey;
}

.DbList:hover {
  background-color: #d3d3d3;
  font-weight: bold;
}

.iconSelectList:hover{
  background-color: #d3d3d3;
  font-weight: bold;
}


.mobileBtn {
  border: 1px solid grey;
  color: black;
  font-weight: bold;
  cursor: pointer;
  font-size: 30px;
  border-radius: 6px;
  -moz-border-radius: 5px;
  -khtml-border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.1);
}

.mobileBtnPage {
  border: 1px solid grey;
  color: black;
  font-weight: bold;
  cursor: pointer;
  font-size: 30px;
  border-radius: 6px;
  -moz-border-radius: 5px;
  -khtml-border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.1);
}

.showAreaAR {
  text-align: right;
  margin-right: 50px;
  margin-left: 50px;
}

.showAreaEN {
  text-align: left;
  margin-left: 50px;
  margin-right: 50px;
}

.showAreaEN:hover {
  border: 1px dashed grey;
  cursor: pointer;
  border-radius: 6px;
  -moz-border-radius: 5px;
  -khtml-border-radius: 10px;
  background-color: rgba(0, 0, 0.01, 0);
}

.showAreaAR:hover {
  border: 1px dashed grey;
  cursor: pointer;
  border-radius: 6px;
  -moz-border-radius: 5px;
  -khtml-border-radius: 10px;
  background-color: rgba(0, 0, 0.01, 0);
}

.mobileBtnPage:hover {
  border: 1px solid goldenrod;
  color: goldenrod;
  background-color: rgba(0, 0, 0, 0.01);
}

.mobileBtn:hover {
  border: 1px solid goldenrod;
  color: goldenrod;
  background-color: rgba(0, 0, 0, 0.01);
}

.itemBlockBG {
  background-color: rgba(0, 0, 0, 0.05);
}

.topBarButton:hover {
  background-color: rgba(0, 0, 0, 0.01);
}

.addInputItemsBlock, .delInputItemsBlock {
  text-align: center;
  vertical-align: middle;
  border: 1px solid gray;
  width: 70px;
  height: 30px;
  line-height: 30px;
  clear: both;
  border-radius: 4px;
  -moz-border-radius: 5px;
  -khtml-border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  opacity: 0.8;
  font-family: Arial;
  font-size: 18px;
  font-weight: bold;
  color: #000000;
  cursor: pointer;
  text-shadow: 1px 1px white;
}

.actionButtonGray {
  text-align: center;
  vertical-align: middle;
  border: 1px solid gray;
  width: 110px;
  height: 30px;
  line-height: 30px;
  clear: both;
  background-color: rgba(0, 0, 0, 0.1);
  opacity: 0.8;
  font-family: Arial;
  font-size: 18px;
  font-weight: bold;
  color: #000000;
  cursor: pointer;
  text-shadow: 1px 1px black;
}

.actionButtonAdd {

  font-size: 18px;
  color: green;
  text-align: center;
  vertical-align: middle;
  border: 1px solid gray;
  width: 70px;
  height: 30px;
  line-height: 30px;
  /*clear: both;*/
  border-radius: 4px;
  -moz-border-radius: 5px;
  -khtml-border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  opacity: 0.8;
  font-family: Arial;
  font-weight: bold;
  cursor: pointer;
  text-shadow: 1px 1px white;
  text-decoration: none;
}

.actionButtonShow, .actionButtonHide, .actionButtonShow:hover, .actionButtonHide:hover, .actionButtonShow:visited, .actionButtonHide:visited {

  text-decoration: none;
  color: white;
  font-size: 14px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid gray;
  height: 20px;
  line-height: 20px;
  /*clear: both;*/
  border-radius: 4px;
  -moz-border-radius: 5px;
  -khtml-border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  opacity: 0.8;
  font-family: Arial;
  font-weight: bold;
  cursor: pointer;
}

.actionButtonShowTree, .actionButtonShowTree:hover, .actionButtonShowTree:visited {

  text-decoration: none;
  color: darkgreen;
  font-size: 14px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid gray;
  height: 20px;
  line-height: 20px;
  /*clear: both;*/
  border-radius: 4px;
  -moz-border-radius: 5px;
  -khtml-border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  opacity: 0.8;
  font-family: Arial;
  font-weight: bold;
  cursor: pointer;
}

.showTreeBtn {
}

.hideTreeBtn {
  display: none;
}

.actionButtonAdd:hover {
  text-decoration: none;
}

.actionButtonDell {

  font-size: 18px;
  color: red;
  text-align: center;
  vertical-align: middle;
  border: 1px solid gray;
  width: 75px;
  height: 30px;
  line-height: 30px;
  /*clear: both;*/
  border-radius: 4px;
  -moz-border-radius: 5px;
  -khtml-border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  opacity: 0.8;
  font-family: Arial;
  font-weight: bold;
  cursor: pointer;
  text-shadow: 1px 1px white;
  text-decoration: none;
}

.actionButtonDell:hover {
  text-decoration: none;
}

.actionButtonWhite {
  text-align: center;
  vertical-align: middle;
  border: 1px solid gray;
  width: 70px;
  height: 30px;
  line-height: 30px;
  clear: both;
  border-radius: 4px;
  -moz-border-radius: 5px;
  -khtml-border-radius: 10px;
  background-color: white;
  opacity: 0.8;
  font-family: Arial;
  font-size: 18px;
  font-weight: bold;
  color: #000000;
  text-shadow: 1px 1px grey;
}

.actionButtonNode {
  text-align: center;
  vertical-align: middle;
  border: 1px solid gray;
  width: 70px;
  height: 30px;
  line-height: 30px;
  clear: both;
  background-color: white;
  font-family: Arial;
  font-size: 12px;
  font-weight: bold;
  color: #000000;

}

.input_header {
  font-size: 18px;
  font-weight: bold;
}
.tableDisplayMobile table {
  border-collapse: collapse;
  width: 100%;
}

th.oe_sortable,
th.oe_sortable_sub {
  cursor: pointer;
}

th.oe_sortable .arrow,
th.oe_sortable_sub .arrow {
  display: none;
  padding: 0 0 0 5px;
  margin: 0;
  text-align: center;
  width: 5px;
  height: 5px;
  font-weight: 100 !important;
  cursor: pointer;
  font-family: Icons;
  text-decoration: none;
  line-height: 23px;
  background: none;
}

.sortUP, .sortDN {
  display: none;
}

// ------ my css -------
.headerPage {
  font-family: @fontFamily-3;
  .fontSize(24);
  line-height: 30px;
  color: @headerPageTextColor;
  background: @headerPageBgColor;
  padding: 15px 40px;
  .clearfix();
}