.loginBlock {
  display: -webkit-flex;
  display: flex;
  height: 380px;
  background: @loginFormBgColor;
}


.loginForm {
  .wrapper {
    padding: 0;
  }
  .header {
    height: 165px;
    position: relative;
    width: 100%;
    background-image: url('../img/signin_login.png') !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: @bgHeaderColorRgba;
    background-size: auto !important;
  }
  .footer {
    padding: 0;
  }
}