//--- project ---
@dark-1: #455660;
@dark-2: #364751;
@grey-1: #c9c7c8;
@light-1: #fee6cc;
@light-2: #f5ddc1;
@orange-1: #f5b063;
@orange-2: #f79b36;
@orange-3: #f8901f;
@orange-4: #f8901f;
@orange-5: #fbca93;
@orange-4Rgba: rgba(247,144,30,.5);
@brown-1: rgba(153,107,56,.4);
@violet-1: #6162b1;
//--- colors ---
@white: #fff;
@black: #000;

@grey-2: #9f9f9f;
@grey-3: #fef3e6;

@blue-1: #08c;
@blue-2: #007db7;

//--- variable ---
@bgMainColor: @white;

@textMainColor: @black;
@linkMainColor: @blue-1;
@linkHoverColor: @blue-2;
@inputBorderColor: @white;

@radioEmptyEolor: @dark-1;
@inputDisabledColor: rgba(0,0,0, .26);
@radioFillColor: @orange-5;
@secondary-color: @orange-5;
@inputDisabledSolidColor: #BDBDBD;
@input-border-color: @white;
@input-bg-color: @white;
@input-text-color: @white;
@radio-empty-color: #BDBDBD;

//--- header ---
@bgHeaderColor: @orange-4;
@bgHeaderColorRgba: @orange-4Rgba;

//--- login form ---
@loginFormBgColor: @brown-1;
@loginInputBorderColor: @white;
@loginLabelColor: @white;
@loginBtnBgColor: @orange-4;

//--- side nav ---
@sideNavBgColor: @dark-1;
@sideNavBtnBgColor: @dark-2;
@sideNavBtnBorderColor: @dark-1;
@sideNavSignBtnBorderColor: @grey-2;
@sideNavBtnColorHover: @orange-4;
@sideNavBtnBorderLeftColor: @orange-4;
@sideNavBtnColor: @white;

//--- content ---
@headerPageTextColor: @white;
@headerPageBgColor: @orange-1;

//--- table ---
@tableViewBgColor: @grey-3;
@tableViewThBgColor: @orange-5;
@tableViewThTextColor: @white;
@tableViewTextColor: @violet-1;
@tableFilterBgColor: @light-2;
@tableFilterTextColor: @dark-1;
@tableFormBorderColor: @dark-1;

//--- buttons ---
@borderBtnColor: @light-1;
@textBtnColor: @white;
@textBtnCreateColor: @orange-4;
@bgBtnCreate: @light-1;
@bgBtnUpdate: @orange-2;
@bgBtnDelete: @orange-4;
@bgBtnDefault: @orange-2;
@bgBtnHover: @orange-4;

//--- pagination ---
@paginationBgColor: @grey-3;
@paginationBorderColor: @grey-1;
@paginationLinkBgColor: @grey-1;
@paginationLinkColor: @grey-1;
@paginationLinkColorHover: @white;

//--- icons ---
@iconsBorderColor-1: rgba(69,85,96,.25);
@iconsBorderColor-2: rgba(69,85,96,.65);
@iconsBorderColor: @dark-1;
@iconsTextColor: @dark-1;
@iconsTextColor-1: @white;