//--- project ---
@dark-1: #455660;
@dark-2: #364751;
@grey-1: #c9c7c8;
@light-1: #fee6cc;
@orange-1: #f5b063;
@orange-2: #f79b36;
@orange-3: #f8901f;
@orange-4: #f8901f;


//--- colors ---
@white: #fff;
@black: #000;

@blue-1: #08c;
@blue-2: #007db7;

//--- variable ---
@bgMainColor: @white;

@textMainColor: @grey-1;
@linkMainColor: @blue-1;
@linkHoverColor: @blue-2;

//--- header ---
@bgHeaderColor: @orange-4;

//--- side nav ---
@sideNavBgColor: @dark-1;
@sideNavBtnBgColor: @dark-2;
@sideNavBtnBorderColor: @dark-1;
@sideNavBtnColorHover: @orange-4;
@sideNavBtnBorderLeftColor: @orange-4;
@sideNavBtnColor: @white;