// Fonts
@fontPath: '../fonts/';
@baseFontName-1: 'Lato-Regular';
@baseFontName-2: 'Lato-Bold';
@baseFontName-3: 'Lato-Light';
@baseFontName-4: 'Lato-Italic';
//@baseFontSvgId: "";

@fontFamily-1: 'Lato-Regular';
@fontFamily-2: 'Lato-Bold';
@fontFamily-3: 'Lato-Light';
@fontFamily-4: 'Lato-Italic';
@serif: sans-serif;


/*** Global ***/
@baseFontSize: 16;
@baseFontFamily: @fontFamily-1, @serif;
@headingFontFamily: @fontFamily-2, @serif;

@widthContainerMedium: 960px;
@widthContainerLarge: 1200px;

@gutter-width: 1.5rem;

// Media Query Ranges
@smallScreen: 768px;
@mediumScreen: 992px;
@largeScreen: 1200px;

@smallScreenUp: 769px;
@mediumScreenUp: 993px;
@largeScreenUp: 1201px;
