<tr id="pagesBlockHeader<%= pageBlockCount %>" class="mobileSidePart">
    <td colspan="2" bgcolor="#dcdcdc" style="text-align: center; font-weight: bold;">
        MOBILE PAGE[ <%= pageBlockCount %> ]
    </td>
    <td> Add Mobile screen elements</td>
</tr>

<tr id="itemBlockPage<%= pageBlockCount %>" class="mobileSidePart">
    <td class="hiddenByDefault"><b>INPUT ITEMS [ ]</b></td>
    <td class="hiddenByDefault"><a href="#" data-page="<%= pageBlockCount %>" class="addInputItemsBlock"
                                   style=" text-decoration: none; font-size: 18px; color: green"> + </a>&nbsp&nbsp <a
            href="#" data-page="<%= pageBlockCount %>" class="delInputItemsBlock"
            style=" text-decoration: none; font-size: 18px; color: red">--</a></td>
    <td class="hiddenByDefault">ADD or Delete last Items field-block</td>
</tr>

<tr id="pagesBlockFooter<%= pageBlockCount %>" class="mobileSidePart">
    <td class="hiddenByDefault" colspan="3" bgcolor="#dcdcdc" style="text-align: center; font-weight: bold"></td>
</tr>
