<div style="align-content: center; margin-top: 5px; padding-bottom: 5px">
    <% var showElement = "display: none" %>
    <form>
        <datalist id="standartFieldsName">
            <option value="serviceName"/>
            <option value="checkUrl"/>
            <option value="title"/>
            <option value="description"/>
            <option value="serviceProvider"/>
            <option value="referenceNumber"/>
            <option value="attachment"/>
            <option value="rate"/>
            <option value="feedback"/>
            <option value="imei"/>
            <option value="start"/>
            <option value="end"/>
            <option value="brand"/>
            <option value="phone"/>
            <option value="phoneProvider"/>
            <option value="providerType"/>
            <option value="url"/>
        </datalist>

        <table class="tableView">
            <tr>
                <th style="width:20%">List of properties</th>
                <th style="width:30%">Input, set properties</th>
                <th>Description of properties</th>
            </tr>

            <tr>
                <td class="hiddenByDefault"><b>serviceProvider:</b></td>
                <td class="hiddenByDefault"><input type="text" id="serviceProvider" size="20" maxlength="40"
                                                   value="<%= serviceProvider %>"></td>
                <td class="hiddenByDefault"> Input service provider name.</td>
            </tr>

            <tr>
                <td class="hiddenByDefault"><b>serviceName.EN:</b></td>
                <td class="hiddenByDefault"><input type="text" id="serviceNameEN" size="20" maxlength="40"
                                                   value="<%= serviceName.EN %>"></td>
                <td class="hiddenByDefault"> Input service name (like speed test or mobile verification check</td>
            </tr>

            <tr>
                <td class="hiddenByDefault"><b>serviceName.AR:</b></td>
                <td class="hiddenByDefault"><input type="text" id="serviceNameAR" size="20" maxlength="40"
                                                   value="<%= serviceName.AR %>"></td>
                <td class="hiddenByDefault"> Input service name on arabic</td>
            </tr>

            <tr>
                <td class="hiddenByDefault"><b>serviceType:</b></td>
                <td class="hiddenByDefault"><input type="text" id="serviceType" size="20" maxlength="40"
                                                   value="<%= serviceType %>"></td>
                <td class="hiddenByDefault">Like this: internet \ mobile \ money \ biznes \ government</td>
            </tr>

            <% if (profile){ var i = 0; %>
            <% for (var k in profile){ %>
            <tr id="profileFieldBlock<%= i %>">
                <td><b>profile.</b><input type="text" name="" id="profileFieldName<%= i %>" size="10" maxlength="20"
                                          value="<%= k %>"></td>
                <td><input type="text" name="" id="profileFieldValue<%= i %>" size="20" maxlength="40"
                           value="<%= profile[k] %>"></td>
                <td> Input profile. fileds name and fields value</td>
            </tr>
            <% i++ } %>
            <% } %>

            <tr id="profileBlock">
                <td class="hiddenByDefault"><b>profile{ }</b></td>
                <td class="hiddenByDefault"><a id="addProfileFieldBlock" data-hash="" class="actionButton"
                                               style=" text-decoration: none; font-size: 18px; color: green"> + </a>&nbsp&nbsp<a
                        id="delProfileFieldBlock" data-hash="" class="actionButton"
                        style=" text-decoration: none; font-size: 18px; color: red">--</a></td>
                <td class="hiddenByDefault">ADD or Delete last profiles fields block</td>
            </tr>

            <tr>
                <td class="hiddenByDefault"><b>baseUrl:</b></td>
                <td class="hiddenByDefault">
                    <input type="text" name="name" id="baseUrl" size="20" maxlength="40"
                           value="<%= baseUrl %>"></td>
                <td class="hiddenByDefault">Start Provider url, like google.com</td>
            </tr>

             <tr id="itemBlock">
                <td class="hiddenByDefault"><b>inputItems [ ]</b></td>
                <td class="hiddenByDefault"><a href="#" id="addInputItemsBlock" data-hash="signOut" class="actionButton"
                                               style=" text-decoration: none; font-size: 18px; color: green"> + </a>&nbsp&nbsp<a
                        href="#" id="delInputItemsBlock" data-hash="signOut" class="actionButton"
                        style=" text-decoration: none; font-size: 18px; color: red">--</a></td>
                <td class="hiddenByDefault">ADD or Delete last Items field-block</td>
            </tr>

            <tr>
                <td class="hiddenByDefault"><b>allow users type </b></td>
                <td class="hiddenByDefault">
                    <input type="checkbox" id="guest" value="guest"' <%=(forUserType.indexOf('guest') >= 0 ?
                    'checked':'')%> > Guest
                    <input type="checkbox" id="client" value="client" <%=(forUserType.indexOf('client') >= 0 ?
                    'checked':'')%> > Client<br>
                    <input type="checkbox" id="admin" value="admin" <%=(forUserType.indexOf('admin') >= 0 ?
                    'checked':'')%> > Admin
                    <input type="checkbox" id="company" value="company" <%=(forUserType.indexOf('company') >= 0 ?
                    'checked':'')%> > Company<br>
                    <input type="checkbox" id="government" value="government" <%=(forUserType.indexOf('government') >= 0
                    ? 'checked':'')%> > Government
                </td>
                <td class="hiddenByDefault">Choose who can use this service</td>
            </tr>

            <tr>
                <td class="hiddenByDefault"><b>method </b></td>
                <td class="hiddenByDefault">
                    <input type="radio" name="Method" id="POST" value="POST" <%= method == 'POST' ? 'checked':''%>> POST
                    <input type="radio" name="Method" id="GET" value="GET" <%= method == 'GET' ? 'checked':''%> > GET
                </td>
                <td class="hiddenByDefault">Choose method that client use when send request</td>
            </tr>

            <tr>
                <td class="hiddenByDefault"><b> <input type="checkbox" class="enabledCheckBox" id="port" <%= port ?
                    'checked' : '' %> >Socket is used </b></td>
                <td class="hiddenByDefault"><b> PORT: </b><span id="portShow" <%= !port ? 'style="display: none"' : ''
                    %>>
                    <input type="text" name="name" id="portInput" size="6" maxlength="4" value="<%=port ? port :'' %>">
                    </span></td>
                <td class="hiddenByDefault">Server use socket for connection. Method (POST/GET) is ignored.
                </td>
            </tr>

            <tr>
                <td class="hiddenByDefault"><b>Uri:</b></td>
                <td class="hiddenByDefault"><input type="text" name="name" id="url" size="20" maxlength="40"
                                                   value="<%= url %>"></td>
                <td class="hiddenByDefault">When service need uri response like: chackimei\ or \users\create</td>
            </tr>
            <tr>
                <td class="hiddenByDefault"><b>params.needUserAuth:</b></td>
                <td class="hiddenByDefault">
                    <input type="radio" name="auth" id="needUserAuth" value="true" <%= params.needUserAuth ?
                    'checked':''%>>true
                    <input type="radio" name="auth" id="needUserAuth2" value="false" <%= !params.needUserAuth ?
                    'checked':''%> > false
                </td>
                <td class="hiddenByDefault">For using service authenticate is needed</td>
            </tr>

            <tr>
                <td class="hiddenByDefault"><b>params {</b></td>
                <td class="hiddenByDefault"></td>
                <td class="hiddenByDefault">What params waiting from client? and how use them</td>
            </tr>

            <tr style="vertical-align: top">
                <td class="hiddenByDefault">
                    <b> <input type="checkbox" class="enabledCheckBox" id="body" value="body" <%= params.body ?
                        'checked':''%> > .body </b></td>
                <% if (params.body) { showElement = '' } %>
                <td class="hiddenByDefault" style=" word-break: break-all;">
                    <div id="bodyShow" style="<%= showElement %>"><p><b>body:
                        [ </b><span id="bodyValue"><%=  params.body ? params.body.join(','):'' %></span><b> ]</b></p>
                        <select style="width: 170px; height: 25px;" id="bodyInput"></select>
                        &nbsp<a href="#" id="bodyAddInputButton" data-hash="body" class="actionButtonAdd"> add </a>&nbsp
                        <a href="#" id="bodyDellInputButton" data-hash="body"
                           class="actionButtonDell">&nbspdell&nbsp</a>
                    </div>

                </td>

            </tr>
            <tr>
                <td class="hiddenByDefault"><b> <input type="checkbox" class="enabledCheckBox" id="query" value="query"
                    <%= params.query ? 'checked':''%>>
                    .query </b></td>

                <% showElement = "display: none"%>
                <% if (params.query) { showElement = ''; } %>
                <td class="hiddenByDefault">
                    <div id="queryShow" style="<%= showElement %>"><p><b>query: [ </b><span
                            id="queryValue"><%= params.query ? params.query.join(','):''%></span><b> ]</b></p>
                        <select style="width: 170px; height: 25px;" id="queryInput"></select>
                        &nbsp<a href="#" id="queryAddInputButton" data-hash="query" class="actionButtonAdd"> add </a>&nbsp
                        <a href="#" id="queryDellInputButton" data-hash="query"
                           class="actionButtonDell">&nbspdell&nbsp</a>
                    </div>
                </td>

                <td class="hiddenByDefault"> Query is array, that have names of fields that will form standard query
                    Request, input the names of fields separated by commas without spaces
                </td>

            </tr>
            <tr>
                <td class="hiddenByDefault"><b> <input type="checkbox" class="enabledCheckBox" id="uriSpecQuery"
                                                       value="uriSpecQuery"<%= params.uriSpecQuery ? 'checked':''%>>
                    .uriSpecQuery </b></td>
                <% showElement = "display: none"%>
                <% if (params.uriSpecQuery) { showElement = ''; } %>
                <td class="hiddenByDefault">
                    <div id="uriSpecQueryShow" style="<%= showElement %>"><p><b>uriSpecQuery: [ </b><span
                            id="uriSpecQueryValue"><%= params.uriSpecQuery ? params.uriSpecQuery.join(','):''%></span><b>
                        ]</b></p>
                        <select style="width: 170px; height: 25px;" id="uriSpecQueryInput"></select>
                        &nbsp<a href="#" id="uriSpecQueryAddInputButton" data-hash="uriSpecQuery"
                                class="actionButtonAdd"> add </a>&nbsp
                        <a href="#" id="uriSpecQueryDellInputButton" data-hash="uriSpecQuery"
                           class="actionButtonDell">&nbspdell&nbsp</a>
                </td>
                <td class="hiddenByDefault"> uriSpecQuery is array, that have names of fields that will be added to url
                    of Request, input the names of fields separated by commas without spaces
                </td>
            </tr>
        </table>

        <div style="clear: both"></div>
        <div style="float:left; text-align:center; border:2px solid #000000;width: 320px;  height: 25px; line-height:25px;
    border-radius:6px; -moz-border-radius:5px; -khtml-border-radius:10px; background-color:yellow; opacity: 0.8; margin-left: 5px;">
            <div id="updateBtn" onmouseover="this.style.cursor='pointer'">
        <span style="font-family:Arial;font-size:20px;font-weight:bold;color:#000000; text-shadow: 1px 1px white;">
        Save Service
        </span>
            </div>
        </div>
        <div style="float:left;  text-align:center; border:2px solid #000000;width: 320px;  height: 25px; line-height:25px; margin-left: 5px;border-radius:6px; -moz-border-radius:5px; -khtml-border-radius:10px; background-color:lightyellow; opacity: 0.8">
            <div id="seeBtn" onmouseover="this.style.cursor='pointer'">
        <span style="font-family:Arial;font-size:20px;font-weight:bold;color:#000000; text-shadow: 1px 1px white;">
        See service on device
        </span>
            </div>
        </div>
        <div style="clear: both"></div>

    </form>
</div>

<!--<div class="showOnDisplay" id="showBlockScreen"-->
<!--style="position: fixed; top: 0px;left: 0px; background-color: grey; opacity: 0.7; width: 100%; height: 100%;z-index: 99; display: none">-->
<!-- -->
<!--</div>-->

<div class="showOnDisplayImg" id="mobilePhone"
     style="border: 1px solid black; width: 500px; height: 900px; margin;  position: fixed; z-index: 100; top:10px; left:60%;  display: none; text-align: center ">
    <table class="tableDisplayMobile" style="width: 100%">
        <tr>
            <td style="height: 150px;
    vertical-align: top;">
                <div style="width:100%; height:1px;clear: both"></div>
                <div style="float:left; margin-left: 15px; font-size: 30px; color: grey; font-weight: bold;">Language:
                </div>
                <div id="chooseARBtn" class="mobileBtn" data-hash="EN" style="float:left; margin-left: 15px;">
                    EN
                </div>
                <div id="chooseENBtn" class="mobileBtn" data-hash="AR" style="float:left;margin-left: 15px;">
                    AR
                </div>
                <div id="closeBtn" style="float:left; margin-left: 170px; font-size: 40px; color: black; font-weight: bold; cursor: pointer;">
                    X
                </div>
                <div style="width:100%; height:1px;clear: both"></div>
            </td>
        </tr>
        <tr><td style="height: 550px;
    vertical-align: top;">
            <div id="mobileDisplay"></div>
        </td></tr>
        <tr><td style="height: 150px;
    vertical-align: bottom;">  <div id="refreshBtn" class="mobileBtn" style="width:50%; margin: auto;">
            Refresh Data
        </div></td></tr>
    </table>
</div>
