<div style="align-content: center; margin-top: 5px; padding-bottom: 5px">
    <% var showElement = "display: none" ; %>
    <form>
        <datalist id="standartFieldsName">
            <option value="serviceName"/>
            <option value="checkUrl"/>
            <option value="title"/>
            <option value="description"/>
            <option value="serviceProvider"/>
            <option value="referenceNumber"/>
            <option value="attachment"/>
            <option value="rate"/>
            <option value="feedback"/>
            <option value="imei"/>
            <option value="start"/>
            <option value="end"/>
            <option value="brand"/>
            <option value="phone"/>
            <option value="phoneProvider"/>
            <option value="providerType"/>
            <option value="url"/>
        </datalist>

        <table class="tableView">
            <tr>
                <th style="width:25%">List of properties</th>
                <th style="width:30%">Input, set properties</th>
                <th>Description of properties</th>
            </tr>

            <tr>
                <td class="hiddenByDefault"><b>serviceProvider:</b></td>
                <td class="hiddenByDefault">
                    <select id="serviceProvider">
                        <option value="DefaultRest" <%= service.serviceProvider == 'DefaultRest' ? 'selected': ''%>>DefaultRest</option>
                        <option value="TraTasTda" <%= service.serviceProvider == 'TraTasTda' ? 'selected': ''%>>TraTasTda</option>
                        <option value="TestTraSocket" <%= service.serviceProvider == 'TestTraSocket' ? 'selected': ''%>>TestTraSocket</option>
                    </select>
                </td>
                <td class="hiddenByDefault"> Select service provider name.</td>
            </tr>

            <tr>
                <td class="hiddenByDefault"><b>Service is enabled:</b></td>
                <td class="hiddenByDefault">
                    <input type="checkbox" id="serviceEnable" <%= service.enable ? 'checked' : ''%>></td>
                <td class="hiddenByDefault"> If service is 'Disable', users can't see it or use it </td>
            </tr>

            <tr>
                <td class="hiddenByDefault" colspan="3" bgcolor="#dcdcdc" style="text-align: center; font-weight: bold">
                    <a href="javascript:;" data-hash="serviceProfile" class="actionButtonShow">&nbsp show </a>&nbsp
                    <a href="javascript:;" class="actionButtonHide" data-hash="serviceProfile">&nbsp hide &nbsp</a>&nbsp
                    SERVICE'S PROFILE
                </td>
            </tr>

            <% if (service.profile){ var i = 0; %>


            <% for (var k in service.profile){ %>
            <tr id="profileFieldBlockEN<%= i %>" class="serviceProfile">
                <td><b>profile.</b><input type="text" name="" id="profileFieldNameEN<%= i %>" size="15" maxlength="40"
                                          value="<%= k %>"><b>.EN</b></td>
                <td><input type="text" name="" id="profileFieldValueEN<%= i %>" size="30" maxlength="400"
                           value="<%= service.profile[k].EN %>"></td>
                <td> Input profile. fileds name and fields value</td>
            </tr>

            <tr id="profileFieldBlockAR<%= i %>" class="serviceProfile">
                <td><b>profile.</b><input type="text" name="" id="profileFieldNameAR<%= i %>" size="15" maxlength="40"
                                          value="<%= k %>"><b>.AR</b></td>
                <td><input type="text" name="" id="profileFieldValueAR<%= i %>" size="30" maxlength="400"
                           value="<%= service.profile[k].AR %>"></td>
                <td> Input profile. fileds name and fields value</td>
            </tr>

            <% i++ } %>
            <% } %>

            <tr>
                <td class="hiddenByDefault" colspan="3" bgcolor="#dcdcdc" style="text-align: center; font-weight: bold">
                    <a href="javascript:;" class="actionButtonShow" data-hash="mobileSidePart">&nbsp show </a>&nbsp
                    <a href="javascript:;" class="actionButtonHide" data-hash="mobileSidePart">&nbsp hide &nbsp</a>&nbsp
                    MOBILE-SIDE PART
                </td>
            </tr>

            <tr class="mobileSidePart">
                <td class="hiddenByDefault"><b>icon:</b></td>
                <td class="hiddenByDefault"><img id="icon" src="<%= service.icon ? '/icon/' + service.icon + '/@2x' : '' %>"
                                                 data-hash="<%= service.icon %>" style="width: 50px; height: 50px;"> <a href="#"
                                                                                                                id="selectIconShow"
                                                                                                                data-hash="update"
                                                                                                                class="actionButtonWhite"
                                                                                                                style="text-decoration: none">&nbsp
                    Select icon &nbsp</a></td>
                <td class="hiddenByDefault">Select icon for service, this icon will show on mobiles</td>
            </tr>

            <tr class="mobileSidePart">
                <td class="hiddenByDefault"><b>buttonTitle.EN:</b></td>
                <td class="hiddenByDefault"><input type="text" id="buttonTitleEN" size="30" maxlength="40"
                                                   value="<%= service.buttonTitle.EN %>"></td>
                <td class="hiddenByDefault">Input title of send Button on english (like: Send complain, Send Data,
                    ....
                </td>
            </tr>

            <tr class="mobileSidePart">
                <td class="hiddenByDefault"><b>buttonTitle.AR:</b></td>
                <td class="hiddenByDefault"><input type="text" id="buttonTitleAR" size="30" maxlength="40"
                                                   value="<%= service.buttonTitle.AR %>"></td>
                <td class="hiddenByDefault"> Input title of send Button on arabic</td>
            </tr>

            <tr id="pagesBlock" class="mobileSidePart">
                <td class="hiddenByDefault" style="color: goldenrod"><b>MOBILE PAGES [ ]</b></td>
                <td class="hiddenByDefault"><a href="#" id="addPageBlock" class="actionButtonGray"
                                               style=" text-decoration: none; font-size: 18px; color: lightgreen">
                    ADD </a>&nbsp&nbsp<a
                        href="#" id="delPageBlock" class="actionButtonGray"
                        style=" text-decoration: none; font-size: 18px; color: lightcoral"> DELL </a></td>
                <td class="hiddenByDefault">ADD or Delete last Mobile Page block</td>
            </tr>


            <tr>
                <td class="hiddenByDefault" colspan="3" bgcolor="#dcdcdc" style="text-align: center; font-weight: bold">
                    <a href="javascript:;" data-hash="serverSidePart" class="actionButtonShow">&nbsp show </a>&nbsp
                    <a href="javascript:;" class="actionButtonHide" data-hash="serverSidePart">&nbsp hide &nbsp</a>&nbsp
                    SERVER-SIDE PART
                </td>
            </tr>

            <tr class="serverSidePart">
                <td class="hiddenByDefault"><b>Url:</b></td>
                <td class="hiddenByDefault">
                    <input type="text" name="name" id="url" size="30" maxlength="40"
                           value="<%= service.url %>"></td>
                <td class="hiddenByDefault">Start Provider url, like google.com</td>
            </tr>

            <tr class="serverSidePart">
                <td class="hiddenByDefault"><b>allow users type </b></td>
                <td class="hiddenByDefault">
                    <input type="checkbox" id="guest" value="guest"' <%=(service.forUserType.indexOf('guest') >= 0 ?
                    'checked':'')%> > Guest
                    <input type="checkbox" id="client" value="client" <%=(service.forUserType.indexOf('client') >= 0 ?
                    'checked':'')%> > Client<br>
                    <input type="checkbox" id="admin" value="admin" <%=(service.forUserType.indexOf('admin') >= 0 ?
                    'checked':'')%> > Admin
                    <input type="checkbox" id="company" value="company" <%=(service.forUserType.indexOf('company') >= 0 ?
                    'checked':'')%> > Company<br>
                    <input type="checkbox" id="government" value="government" <%=(service.forUserType.indexOf('government') >= 0
                    ? 'checked':'')%> > Government
                </td>
                <td class="hiddenByDefault">Choose who can use this service</td>
            </tr>

            <tr class="serverSidePart">
                <td class="hiddenByDefault"><b>method </b></td>
                <td class="hiddenByDefault">
                    <input type="radio" name="Method" id="POST" value="POST" <%= service.method == 'POST' ? 'checked':''%>> POST
                    <input type="radio" name="Method" id="GET" value="GET" <%= service.method == 'GET' ? 'checked':''%> > GET
                </td>
                <td class="hiddenByDefault">Choose method that client use when send request</td>
            </tr>

            <tr class="serverSidePart">
                <td class="hiddenByDefault"><b> <input type="checkbox" class="enabledCheckBox" id="port" <%= service.port ?
                    'checked' : '' %> >Socket is used </b></td>
                <td class="hiddenByDefault"><b> PORT: </b><span id="portShow" <%= !service.port ? 'style="display: none"' : ''
                    %>>
                    <input type="text" name="name" id="portInput" size="6" maxlength="4" value="<%= service.port ? service.port :'' %>">
                    </span></td>
                <td class="hiddenByDefault">Server use socket for connection. Method (POST/GET) is ignored.
                </td>
            </tr>

            <tr class="serverSidePart">
                <td class="hiddenByDefault"><b>params.needUserAuth:</b></td>
                <td class="hiddenByDefault">
                    <input type="radio" name="auth" id="needUserAuth" value="true" <%= service.params.needUserAuth ?
                    'checked':''%>>true
                    <input type="radio" name="auth" id="needUserAuth2" value="false" <%= !service.params.needUserAuth ?
                    'checked':''%> > false
                </td>
                <td class="hiddenByDefault">For using service authenticate is needed</td>
            </tr>

            <tr class="serverSidePart">
                <td class="hiddenByDefault"><b>params {</b></td>
                <td class="hiddenByDefault"></td>
                <td class="hiddenByDefault">What params waiting from client? and how use them</td>
            </tr>

            <tr style="vertical-align: top" class="serverSidePart">
                <td class="hiddenByDefault">
                    <b> <input type="checkbox" class="enabledCheckBox" id="body" value="body" <%= service.params.body ?
                        'checked':''%> > .body </b></td>
                <% if (service.params.body) { showElement = '' } %>
                <td class="hiddenByDefault" style=" word-break: break-all;">
                    <div id="bodyShow" style="<%= showElement %>"><p><b>body:
                        [ </b><span id="bodyValue"><%=  service.params.body ? service.params.body.join(','):'' %></span><b> ]</b></p>
                        <select style="width: 170px; height: 25px;" id="bodyInput"></select>
                        &nbsp<a href="#" id="bodyAddInputButton" data-hash="body" class="actionButtonAdd"> add </a>&nbsp
                        <a href="#" id="bodyDellInputButton" data-hash="body"
                           class="actionButtonDell">&nbspdell&nbsp</a>
                    </div>
                </td>
            </tr>

            <tr class="serverSidePart">
                <td class="hiddenByDefault"><b> <input type="checkbox" class="enabledCheckBox" id="query" value="query"
                    <%= service.params.query ? 'checked':''%>>
                    .query </b></td>

                <% showElement = "display: none"%>
                <% if (service.params.query) { showElement = ''; } %>
                <td class="hiddenByDefault">
                    <div id="queryShow" style="<%= showElement %>"><p><b>query: [ </b><span
                            id="queryValue"><%= service.params.query ? service.params.query.join(','):''%></span><b> ]</b></p>
                        <select style="width: 170px; height: 25px;" id="queryInput"></select>
                        &nbsp<a href="#" id="queryAddInputButton" data-hash="query" class="actionButtonAdd"> add </a>&nbsp
                        <a href="#" id="queryDellInputButton" data-hash="query"
                           class="actionButtonDell">&nbspdell&nbsp</a>
                    </div>
                </td>

                <td class="hiddenByDefault"> Query is array, that have names of fields that will form standard query
                    Request, input the names of fields separated by commas without spaces
                </td>

            </tr>
            <tr class="serverSidePart">
                <td class="hiddenByDefault"><b> <input type="checkbox" class="enabledCheckBox" id="uriSpecQuery"
                                                       value="uriSpecQuery"<%= service.params.uriSpecQuery ? 'checked':''%>>
                    .uriSpecQuery </b></td>
                <% showElement = "display: none"%>
                <% if (service.params.uriSpecQuery) { showElement = ''; } %>
                <td class="hiddenByDefault">
                    <div id="uriSpecQueryShow" style="<%= showElement %>"><p><b>uriSpecQuery: [ </b><span
                            id="uriSpecQueryValue"><%= service.params.uriSpecQuery ? params.uriSpecQuery.join(','):''%></span><b>
                        ]</b></p>
                        <select style="width: 170px; height: 25px;" id="uriSpecQueryInput"></select>
                        &nbsp<a href="#" id="uriSpecQueryAddInputButton" data-hash="uriSpecQuery"
                                class="actionButtonAdd"> add </a>&nbsp
                        <a href="#" id="uriSpecQueryDellInputButton" data-hash="uriSpecQuery"
                           class="actionButtonDell">&nbspdell&nbsp</a>
                    </div>
                </td>
                <td class="hiddenByDefault"> uriSpecQuery is array, that have names of fields that will be added to url
                    of Request, input the names of fields separated by commas without spaces
                </td>
            </tr>
        </table>

        <div style="clear: both; margin-top: 5px;"></div>
        <div style="float:left; text-align:center; width: 320px;  height: 35px; line-height:35px; background-color: #F8901F;  margin-left: 5px;">
            <div id="updateBtn" onmouseover="this.style.cursor='pointer'">
        <span style="font-family:Arial; font-size:20px;font-weight:bold; color: white;">
        Save Service
        </span>
            </div>
        </div>
        <div style="float:left;  text-align:center; border:2px solid #F8901F; width: 320px;  height: 35px; line-height:35px; margin-left: 5px; background-color: white;">
            <div id="seeBtn" onmouseover="this.style.cursor='pointer'">
        <span style="font-family:Arial;font-size:20px;font-weight:bold; color:#F8901F; text-shadow: 1px 1px white;">
        See service on device
        </span>
            </div>
        </div>
        <div style="clear: both"></div>

    </form>
</div>

<!--<div class="showOnDisplay" id="showBlockScreen"-->
<!--style="position: fixed; top: 0px;left: 0px; background-color: grey; opacity: 0.7; width: 100%; height: 100%;z-index: 99; display: none">-->
<!-- -->
<!--</div>-->

<div class="showOnDisplayImg" id="mobilePhone"
     style="border: 1px solid black; width: 500px; height: 900px; margin;  position: fixed; z-index: 100; top:10px; left:60%;  display: none; text-align: center ">
    <table class="tableDisplayMobile" style="width: 100%">
        <tr>
            <td style="height: 150px;
    vertical-align: top;">
                <div style="width:100%; height:1px;clear: both"></div>
                <div style="float:left; margin-left: 15px; font-size: 30px; color: grey; font-weight: bold;">Language:
                </div>
                <div id="chooseARBtn" class="mobileBtn" data-hash="EN" style="float:left; margin-left: 15px;">
                    EN
                </div>
                <div id="chooseENBtn" class="mobileBtn" data-hash="AR" style="float:left;margin-left: 15px;">
                    AR
                </div>
                <div id="closeBtn"
                     style="float:left; margin-left: 170px; font-size: 40px; color: black; font-weight: bold; cursor: pointer;">
                    X
                </div>
                <div style="width:100%; height:1px;clear: both"></div>
            </td>
        </tr>
        <tr>
            <td style="height: 550px;
    vertical-align: top;">
                <div id="mobileDisplay"></div>
            </td>
        </tr>
        <tr>
            <td style="height: 150px;
    vertical-align: bottom;">
                <div id="refreshBtn" class="mobileBtn" style="width:50%; margin: auto;">
                    Refresh Data
                </div>
            </td>
        </tr>
    </table>
</div>
